<div class="btn-toolbar" role="toolbar">
	<div class="btn-group btn-group-justified" role="group">
		<label ng-click="refreshGridCA()" class="btn" ng-class="{'btn-primary': ($parent.period.selected == choice.id), 'btn-default': ($parent.period.selected != choice.id)}" ng-repeat="choice in period.list">
			<input type="radio" ng-model="$parent.period.selected" value="{{choice.id}}" autocomplete="off" style="visibility:hidden" />
			{{choice.libelle}}
		</label>
	</div>
</div>
<div
	ui-grid="grid.ca" 
	class="" 
	style="margin-top:15px"
	ui-grid-edit 
	ui-grid-row-edit 
	ui-grid-exporter 
	ui-grid-auto-resize 
	ui-grid-resize-columns 
	ui-grid-pinning 
	ui-grid-selection>
</div>

<div ng-show="period.selected == '1'">
	<h3 class="box-title">Répartition du CA HT (%)</h3>
	<div class="row">
		<div class="col-md-3">
			<div style="width:100%; display:block">
				<nvd3 options="chart.ca.precedent.options" data="chart.ca.precedent.data" class="with-3d-shadow with-transitions"></nvd3>
				<span ng-show="info.precedent.error_sum_prc" class="text-red">{{info.precedent.error_sum_prc}}</span>
			</div>
		</div>
		<div class="col-md-3">
			<form class="form-horizontal">
				<div class="form-group">
					<label for="tx_precedent_princeps_1" class="col-sm-8 control-label" style="color:{{ca.precedent.tx_1.princeps.color}}">Princeps 2,1%</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="tx_precedent_princeps_1" ng-model="ca.precedent.repartition_ca.tx_1.princeps.value" ng-change="refreshPieChart('precedent')"/>
					</div>
				</div>
				<div class="form-group">
					<label for="tx_precedent_generique_1" class="col-sm-8 control-label" style="color:{{ca.precedent.tx_1.generique.color}}">Générique 2,1%</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="tx_precedent_generique_1" ng-model="ca.precedent.repartition_ca.tx_1.generique.value" ng-change="refreshPieChart('precedent')"/>
					</div>
				</div>
				<div class="form-group">
					<label for="tx_precedent_2" class="col-sm-8 control-label" style="color:{{ca.precedent.tx_2.color}}">7%</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="tx_precedent_2" ng-model="ca.precedent.repartition_ca.tx_2.value" ng-change="refreshPieChart('precedent')"/>
					</div>
				</div>
				<div class="form-group">
					<label for="tx_precedent_3" class="col-sm-8 control-label" style="color:{{ca.precedent.tx_3.color}}">20%</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="tx_precedent_3" ng-model="ca.precedent.repartition_ca.tx_3.value" ng-change="refreshPieChart('precedent')"/>
					</div>
				</div>
				<div class="form-group">
					<label for="tx_precedent_services" class="col-sm-8 control-label" style="color:{{ca.precedent.tx_services.color}}">Services 20%</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="tx_precedent_services" ng-model="ca.precedent.repartition_ca.tx_services.value" ng-change="refreshPieChart('precedent')"/>
					</div>
				</div>
			</form>
		</div>
		<div class="col-md-6">
			<form class="form-horizontal">
				<div class="form-group">
					<label for="precedent_repartition_ca" class="col-sm-6 control-label">CA Moyen journalier TTC N-1</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="precedent_repartition_ca" ng-model="ca.precedent.repartition_ca.total_ht" />
					</div>
				</div>
				<div class="form-group">
					<label for="ca_precedent_moyen_journalier_ttc" class="col-sm-6 control-label">CA Moyen journalier TTC N-1</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="ca_precedent_moyen_journalier_ttc" ng-model="ca.precedent.ca_moyen_journalier_ttc" />
					</div>
				</div>
				<div class="form-group">
					<label for="ca_precedent_moyen_journalier_ht" class="col-sm-6 control-label">CA Moyen journalier HT N-1</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="ca_precedent_moyen_journalier_ht" ng-model="ca.precedent.ca_moyen_journalier_ht" />
					</div>
				</div>
				<div class="form-group">
					<label for="ca_precedent_ht_dernier_bilan" class="col-sm-6 control-label">CA HT dernier bilan connu</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="ca_precedent_ht_dernier_bilan" ng-model="ca.precedent.ca_ht_dernier_bilan" />
					</div>
				</div>
				<div class="form-group">
					<label for="diff_precedent_dernier_bilan" class="col-sm-6 control-label">Différence dernier bilan connu</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="diff_precedent_dernier_bilan" ng-model="ca.precedent.diff_dernier_bilan" />
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div ng-show="period.selected == '2'">
	<h3 class="box-title">Répartition du CA HT (%)</h3>
	<div class="row">
		<div class="col-md-3">
			<div style="width:100%; display:block">
				<nvd3 options="chart.ca.reel.options" data="chart.ca.reel.data" class="with-3d-shadow with-transitions"></nvd3>
				<span ng-show="info.reel.error_sum_prc" class="text-red">{{info.reel.error_sum_prc}}</span>
			</div>
		</div>
		<div class="col-md-3">
			<form class="form-horizontal">
				<div class="form-group">
					<label for="tx_reel_princeps_1" class="col-sm-8 control-label" style="color:{{ca.reel.tx_1.princeps.color}}">Princeps 2,1%</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="tx_reel_princeps_1" ng-model="ca.reel.repartition_ca.tx_1.princeps.value" ng-change="refreshPieChart('reel')"/>
					</div>
				</div>
				<div class="form-group">
					<label for="tx_reel_generique_1" class="col-sm-8 control-label" style="color:{{ca.reel.tx_1.generique.color}}">Générique 2,1%</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="tx_reel_generique_1" ng-model="ca.reel.repartition_ca.tx_1.generique.value" ng-change="refreshPieChart('reel')"/>
					</div>
				</div>
				<div class="form-group">
					<label for="tx_reel_2" class="col-sm-8 control-label" style="color:{{ca.reel.tx_2.color}}">7%</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="tx_reel_2" ng-model="ca.reel.repartition_ca.tx_2.value" ng-change="refreshPieChart('reel')"/>
					</div>
				</div>
				<div class="form-group">
					<label for="tx_reel_3" class="col-sm-8 control-label" style="color:{{ca.reel.tx_3.color}}">20%</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="tx_reel_3" ng-model="ca.reel.repartition_ca.tx_3.value" ng-change="refreshPieChart('reel')"/>
					</div>
				</div>
				<div class="form-group">
					<label for="tx_reel_services" class="col-sm-8 control-label" style="color:{{ca.reel.tx_services.color}}">Services 20%</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="tx_reel_services" ng-model="ca.reel.repartition_ca.tx_services.value" ng-change="refreshPieChart('reel')"/>
					</div>
				</div>
			</form>
		</div>
		<div class="col-md-6">
			<table class="table table-bordered table-hover table-condensed">
				<thead>
					<tr>
						<th></th>
						<th>N-1</th>
						<th>Prévision</th>
						<th>Réalisé</th> 
						<th>Ecarts N-1</th> 
						<th>Ecarts Prévision</th> 
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>CA moyen journalier TTC</th>
						<td>{{ca.reel.ca_moyen_journalier.ttc.n_1}}</td>
						<td>{{ca.reel.ca_moyen_journalier.ttc.prevision}}</td>
						<td>{{ca.reel.ca_moyen_journalier.ttc.realise}}</td>
						<td>{{ca.reel.ca_moyen_journalier.ttc.ecarts_n_1}}</td>
						<td>{{ca.reel.ca_moyen_journalier.ttc.ecarts_prevision}}</td>
					</tr>
					<tr>
						<th>CA moyen journalier HT</th>
						<td>{{ca.reel.ca_moyen_journalier.ht.n_1}}</td>
						<td>{{ca.reel.ca_moyen_journalier.ht.prevision}}</td>
						<td>{{ca.reel.ca_moyen_journalier.ht.realise}}</td>
						<td>{{ca.reel.ca_moyen_journalier.ht.ecarts_n_1}}</td>
						<td>{{ca.reel.ca_moyen_journalier.ht.ecarts_prevision}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered table-hover table-condensed">
				<thead>
					<tr>
						<th>Répartition du CA HT (%)</th>
						<th>Princeps 2,1%</th>
						<th>7%</th>
						<th>20%</th> 
						<th>Services 20%</th> 
						<th>Générique 2,1%</th> 
						<th>Total HT</th> 
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>Période précédente</th>
						<td>{{ca.precedent.repartition_ca.tx_1.princeps.value}}</td>
						<td>{{ca.precedent.repartition_ca.tx_2.value}}</td>
						<td>{{ca.precedent.repartition_ca.tx_3.value}}</td>
						<td>{{ca.precedent.repartition_ca.tx_services.value}}</td>
						<td>{{ca.precedent.repartition_ca.tx_1.generique.value}}</td>
						<td>{{ca.precedent.repartition_ca.total_ht}}</td>
					</tr>
					<tr>
						<th>Période Prévisionnelle</th>
						<td>{{ca.previsionnel.repartition_ca.tx_1.princeps.value}}</td>
						<td>{{ca.previsionnel.repartition_ca.tx_2.value}}</td>
						<td>{{ca.previsionnel.repartition_ca.tx_3.value}}</td>
						<td>{{ca.previsionnel.repartition_ca.tx_services.value}}</td>
						<td>{{ca.previsionnel.repartition_ca.tx_1.generique.value}}</td>
						<td>{{ca.previsionnel.repartition_ca.total_ht}}</td>
					</tr>
					<tr>
						<th>Réalisé</th>
						<td>{{ca.reel.repartition_ca.tx_1.princeps.value}}</td>
						<td>{{ca.reel.repartition_ca.tx_2.value}}</td>
						<td>{{ca.reel.repartition_ca.tx_3.value}}</td>
						<td>{{ca.reel.repartition_ca.tx_services.value}}</td>
						<td>{{ca.reel.repartition_ca.tx_1.generique.value}}</td>
						<td>{{ca.reel.repartition_ca.total_ht}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered table-hover table-condensed">
				<thead>
					<tr>
						<th>Ecarts</th>
						<th>Princeps 2,1%</th>
						<th>7%</th>
						<th>20%</th> 
						<th>Services 20%</th> 
						<th>Générique 2,1%</th> 
						<th>Total HT</th> 
						<th>Total TVA</th> 
						<th>Total TTC</th> 
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>N-1</th>
						<td>{{ca.reel.ecarts.n_1.tx_1.princeps.value}}</td>
						<td>{{ca.reel.ecarts.n_1.tx_2.value}}</td>
						<td>{{ca.reel.ecarts.n_1.tx_3.value}}</td>
						<td>{{ca.reel.ecarts.n_1.tx_services.value}}</td>
						<td>{{ca.reel.ecarts.n_1.tx_1.generique.value}}</td>
						<td>{{ca.reel.ecarts.n_1.total_ht}}</td>
						<td>{{ca.reel.ecarts.n_1.total_tva}}</td>
						<td>{{ca.reel.ecarts.n_1.total_ttc}}</td>
					</tr>
					<tr>
						<th>Prévisions</th>
						<td>{{ca.reel.ecarts.previsions.tx_1.princeps.value}}</td>
						<td>{{ca.reel.ecarts.previsions.tx_2.value}}</td>
						<td>{{ca.reel.ecarts.previsions.tx_3.value}}</td>
						<td>{{ca.reel.ecarts.previsions.tx_services.value}}</td>
						<td>{{ca.reel.ecarts.previsions.tx_1.generique.value}}</td>
						<td>{{ca.reel.ecarts.previsions.total_ht}}</td>
						<td>{{ca.reel.ecarts.previsions.total_tva}}</td>
						<td>{{ca.reel.ecarts.previsions.total_ttc}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div ng-show="period.selected == '3'">
	<h3 class="box-title">Répartition du CA HT (%)</h3>
	<div class="row">
		<div class="col-md-3">
			<div style="width:100%; display:block">
				<nvd3 options="chart.ca.previsionnel.options" data="chart.ca.previsionnel.data" class="with-3d-shadow with-transitions"></nvd3>
				<span ng-show="info.previsionnel.error_sum_prc" class="text-red">{{info.previsionnel.error_sum_prc}}</span>
			</div>
		</div>
		<div class="col-md-3">
			<form class="form-horizontal">
				<div class="form-group">
					<label for="tx_previsionnel_princeps_1" class="col-sm-8 control-label" style="color:{{ca.previsionnel.tx_1.princeps.color}}">Princeps 2,1%</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="tx_previsionnel_princeps_1" ng-model="ca.previsionnel.repartition_ca.tx_1.princeps.value" ng-change="refreshPieChart('previsionnel')"/>
					</div>
				</div>
				<div class="form-group">
					<label for="tx_previsionnel_generique_1" class="col-sm-8 control-label" style="color:{{ca.previsionnel.tx_1.generique.color}}">Générique 2,1%</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="tx_previsionnel_generique_1" ng-model="ca.previsionnel.repartition_ca.tx_1.generique.value" ng-change="refreshPieChart('previsionnel')"/>
					</div>
				</div>
				<div class="form-group">
					<label for="tx_previsionnel_2" class="col-sm-8 control-label" style="color:{{ca.previsionnel.tx_2.color}}">7%</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="tx_previsionnel_2" ng-model="ca.previsionnel.repartition_ca.tx_2.value" ng-change="refreshPieChart('previsionnel')"/>
					</div>
				</div>
				<div class="form-group">
					<label for="tx_previsionnel_3" class="col-sm-8 control-label" style="color:{{ca.previsionnel.tx_3.color}}">20%</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="tx_previsionnel_3" ng-model="ca.previsionnel.repartition_ca.tx_3.value" ng-change="refreshPieChart('previsionnel')"/>
					</div>
				</div>
				<div class="form-group">
					<label for="tx_previsionnel_services" class="col-sm-8 control-label" style="color:{{ca.previsionnel.tx_services.color}}">Services 20%</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="tx_previsionnel_services" ng-model="ca.previsionnel.repartition_ca.tx_services.value" ng-change="refreshPieChart('previsionnel')"/>
					</div>
				</div>
			</form>
		</div>
		<div class="col-md-6">
			<table class="table table-bordered table-hover table-condensed">
				<thead>
					<tr>
						<th></th>
						<th>N-1</th>
						<th>N</th>
						<th>Ecarts N-1</th> 
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>CA moyen journalier TTC</th>
						<td>{{ca.previsionnel.ca_moyen_journalier.ttc.n_1}}</td>
						<td>{{ca.previsionnel.ca_moyen_journalier.ttc.n}}</td>
						<td>{{ca.previsionnel.ca_moyen_journalier.ttc.ecarts_n_1}}</td>
					</tr>
					<tr>
						<th>CA moyen journalier HT</th>
						<td>{{ca.previsionnel.ca_moyen_journalier.ht.n_1}}</td>
						<td>{{ca.previsionnel.ca_moyen_journalier.ht.n}}</td>
						<td>{{ca.previsionnel.ca_moyen_journalier.ht.ecarts_n_1}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered table-hover table-condensed">
				<thead>
					<tr>
						<th></th>
						<th>Princeps 2,1%</th>
						<th>7%</th>
						<th>20%</th> 
						<th>Services 20%</th> 
						<th>Générique 2,1%</th> 
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>Répartition du CA HT (%)</th>
						<td>{{ca.previsionnel.repartition_ca.tx_1.princeps.value}}</td>
						<td>{{ca.previsionnel.repartition_ca.tx_2.value}}</td>
						<td>{{ca.previsionnel.repartition_ca.tx_3.value}}</td>
						<td>{{ca.previsionnel.repartition_ca.tx_services.value}}</td>
						<td>{{ca.previsionnel.repartition_ca.tx_1.generique.value}}</td>
					</tr>
					<tr>
						<th>Augmentation prévue (%)</th>
						<td>{{ca.previsionnel.prc_augmentation_prevue.tx_1.princeps.value}}</td>
						<td>{{ca.previsionnel.prc_augmentation_prevue.tx_2.value}}</td>
						<td>{{ca.previsionnel.prc_augmentation_prevue.tx_3.value}}</td>
						<td>{{ca.previsionnel.prc_augmentation_prevue.tx_services.value}}</td>
						<td>{{ca.previsionnel.prc_augmentation_prevue.tx_1.generique.value}}</td>
					</tr>
					<tr>
						<th>Augmentation prévue (Euros)</th>
						<td>{{ca.previsionnel.mt_augmentation_prevue.tx_1.princeps.value}}</td>
						<td>{{ca.previsionnel.mt_augmentation_prevue.tx_2.value}}</td>
						<td>{{ca.previsionnel.mt_augmentation_prevue.tx_3.value}}</td>
						<td>{{ca.previsionnel.mt_augmentation_prevue.tx_services.value}}</td>
						<td>{{ca.previsionnel.mt_augmentation_prevue.tx_1.generique.value}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>