<section class="content-header">
	<h1>
		Merchandising
		<small>Formulaire</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
		<li><a href="#">Merchandising</a></li>
		<li><a href="#">{{$root.pharmacie.selected.denomination}}</a></li>
		<li class="active">Forms</li>
	</ol>
</section>

<section resize-form class="content">
	<div class="box box-primary">
		<div class="box-header with-border">
			<h3 class="box-title">Notes moyennes</h3>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<!-- /.box-header -->
		<div class="box-body">
			<div class="row">
				<div class="col-md-3">Contexte Environnemental</div>
				<div class="col-md-9"><progressbar value="82" type="info">82%</progressbar></div>
			</div>
			<div class="row">
				<div class="col-md-3">Contexte Interne</div>
				<div class="col-md-9"><progressbar value="32" type="danger">32%</progressbar></div>
			</div>
			<div class="row">
				<div class="col-md-3">Politique du personnel</div>
				<div class="col-md-9"><progressbar value="65" type="info">65%</progressbar></div>
			</div>
			<div class="row">
				<div class="col-md-3">Profil marketing</div>
				<div class="col-md-9"><progressbar value="89" type="info">89%</progressbar></div>
			</div>
			<div class="row">
				<div class="col-md-3">Gestion des Stocks</div>
				<div class="col-md-9"><progressbar value="59" type="warning">59%</progressbar></div>
			</div>
			<div class="row">
				<div class="col-md-3">Divers</div>
				<div class="col-md-9"><progressbar value="98" type="success">98%</progressbar></div>
			</div>
		</div>
	</div>
</section>