<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Structure du chiffre d'affaires</h3>
		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		</div>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
	<form role="form">
		<div class="box-body">
			<div style="width:55%;display:inline-block;"
				ui-grid="grid.structureCA" 
				class="" 
				ui-grid-edit 
				ui-grid-row-edit 
				ui-grid-exporter 
				ui-grid-auto-resize 
				ui-grid-resize-columns 
				ui-grid-selection>
			</div>
			<div style="width:44%;display:inline-block;">
				<nvd3 options="optionsStructureCAPieChart" api="structureCAPieChartApi" data="survey.selected.forms.indicateurs.structureCA.data"></nvd3>
			</div>
		</div>
	</form>
</div>

<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Marges</h3>
		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		</div>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
	<form role="form">
		<div class="box-body">
			<div class="row">
                <div class="col-md-3">Marge globale</div>
                <div class="col-md-3"><input ng-model="survey.selected.forms.indicateurs.marge.globale" type="text" placeholder=""/></div>
            	<div class="col-md-3">Marge exprimée en %</div>
                <div class="col-md-3"><input ng-model="survey.selected.forms.indicateurs.marge.prc" type="text" placeholder=""/></div>
            </div>
		</div>
	</form>
</div>

<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Stocks</h3>
		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		</div>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
	<form role="form">
		<div class="box-body">
			<div style="width:55%;display:inline-block;"
				ui-grid="grid.stocks" 
				class="" 
				ui-grid-edit 
				ui-grid-row-edit 
				ui-grid-exporter 
				ui-grid-auto-resize 
				ui-grid-resize-columns 
				ui-grid-selection>
			</div>
			<div style="width:44%;display:inline-block;">
				<nvd3 options="optionsStocksPieChart" data="survey.selected.forms.indicateurs.stocks.data"></nvd3>
			</div>
		</div>
	</form>
</div>

<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Fréquentation et performances</h3>
		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		</div>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
	<form role="form">
		<div class="box-body">
			<div class="row">
                <div class="col-md-3">Nombre client/jour</div>
                <div class="col-md-1"><input ng-model="survey.selected.forms.indicateurs.frequentation.clientJour" type="number" style="width:100%" placeholder=""/></div>
            	<div class="col-md-3">Panier moyen</div>
                <div class="col-md-1"><input ng-model="survey.selected.forms.indicateurs.frequentation.panierMoyen" type="text" style="width:100%" placeholder=""/></div>
            	<div class="col-md-3">Panier hors ordonnances</div>
                <div class="col-md-1"><input ng-model="survey.selected.forms.indicateurs.frequentation.panierHorsOrdo" type="text" style="width:100%" placeholder=""/></div>
            </div>
		</div>
	</form>
</div>

<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Capacité d'accueil</h3>
		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		</div>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
	<form role="form">
		<div class="box-body">
			<div class="row">
                <div class="col-md-3">Surface totale <small>(en m²)</small></div>
                <div class="col-md-1"><input ng-model="survey.selected.forms.indicateurs.capaciteAccueil.surfaceTotale" type="number" style="width:100%" placeholder=""/></div>
            	<div class="col-md-3">Surface de vente</div>
                <div class="col-md-1"><input ng-model="survey.selected.forms.indicateurs.capaciteAccueil.surfaceVente" type="text" style="width:100%" placeholder=""/></div>
            	<div class="col-md-3">Surface réserve</div>
                <div class="col-md-1"><input ng-model="survey.selected.forms.indicateurs.capaciteAccueil.surfaceReserve" type="text" style="width:100%" placeholder=""/></div>
            </div>
            <div class="row">
                <div class="col-md-5">Nombre de postes de vente ordonnance</div>
                <div class="col-md-1"><input ng-model="survey.selected.forms.indicateurs.capaciteAccueil.nbPostesOrdonnance" type="number" style="width:100%" placeholder=""/></div>
            	<div class="col-md-5">Nombre de postes de vente sans ordonnance</div>
                <div class="col-md-1"><input ng-model="survey.selected.forms.indicateurs.capaciteAccueil.nbPostesSansOrdonnance" type="number" style="width:100%" placeholder=""/></div>
           	</div>
            <div class="row">
            	<div class="col-md-5">Nombre de postes de vente parapharmacie</div>
                <div class="col-md-1"><input ng-model="survey.selected.forms.indicateurs.capaciteAccueil.nbPostesPara" type="number" style="width:100%" placeholder=""/></div>
                <div class="col-md-5">Amplitude horaire</div>
                <div class="col-md-1"><input ng-model="survey.selected.forms.indicateurs.capaciteAccueil.amplitudeHoraire" type="number" style="width:100%" placeholder=""/></div>
            </div>
		</div>
	</form>
</div>

<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Ressources humaines</h3>
		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		</div>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
	<form role="form">
		<div class="box-body">
			<div class="row">
                <div class="col-md-3">Nombre de salariés</div>
                <div class="col-md-1"><input ng-model="survey.selected.forms.indicateurs.ressourcesHumaines.nbSalaries" type="number" style="width:100%" placeholder=""/></div>
            	<div class="col-md-3">Nombre de personnes en ETP</div>
                <div class="col-md-1"><input ng-model="survey.selected.forms.indicateurs.ressourcesHumaines.nbETP" type="number" style="width:100%" placeholder=""/></div>
            	<div class="col-md-3">Poids masse salariale <small>(en %)</small></div>
                <div class="col-md-1"><input ng-model="survey.selected.forms.indicateurs.ressourcesHumaines.poidsMS" type="text" style="width:100%" placeholder=""/></div>
            </div>
            <div class="row">
				<div class="col-md-3">Ratio CA/personne</div>
                <div class="col-md-1"><input ng-model="survey.selected.forms.indicateurs.ressourcesHumaines.ratioMS" type="text" style="width:100%" placeholder=""/></div>
            </div>
		</div>
	</form>
</div>

<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Structure du personnel</h3>
		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		</div>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
	<form role="form">
		<div class="box-body">
			<div class="row">
                <div class="col-md-2">Titulaires</div>
                <div class="col-md-1"><input ng-model="survey.selected.forms.indicateurs.structurePersonnel.nbTitulaires" type="number" style="width:100%" placeholder=""/></div>
            	<div class="col-md-2">Pharmaciens diplômés</div>
                <div class="col-md-1"><input ng-model="survey.selected.forms.indicateurs.structurePersonnel.nbPharmDiplo" type="number" style="width:100%" placeholder=""/></div>
            	<div class="col-md-2">Préparateurs</div>
                <div class="col-md-1"><input ng-model="survey.selected.forms.indicateurs.structurePersonnel.nbPreparateurs" type="number" style="width:100%" placeholder=""/></div>
    	     	<div class="col-md-2">Esthéticiennes</div>
                <div class="col-md-1"><input ng-model="survey.selected.forms.indicateurs.structurePersonnel.nbEstheticiennes" type="number" style="width:100%" placeholder=""/></div>
            </div>
            <div class="row">
				<div class="col-md-2">Stagiaires</div>
                <div class="col-md-1"><input ng-model="survey.selected.forms.indicateurs.ressourcesHumaines.nbStagiaires" type="number" style="width:100%" placeholder=""/></div>
				<div class="col-md-2">Stockistes</div>
                <div class="col-md-1"><input ng-model="survey.selected.forms.indicateurs.ressourcesHumaines.nbStockistes" type="number" style="width:100%" placeholder=""/></div>
				<div class="col-md-2">Personnel Administratif</div>
                <div class="col-md-1"><input ng-model="survey.selected.forms.indicateurs.ressourcesHumaines.nbPersoAdmin" type="number" style="width:100%" placeholder=""/></div>
				<div class="col-md-2">Femme de ménage</div>
                <div class="col-md-1"><input ng-model="survey.selected.forms.indicateurs.ressourcesHumaines.nbFemmeMenage" type="number" style="width:100%" placeholder=""/></div>
            </div>
		</div>
	</form>
</div>

<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Organigramme</h3>
		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		</div>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
	<form role="form">
		<div class="box-body">
			
		</div>
	</form>
</div>