<section class="content-header">
	<h1>
		Merchandising
		<small>Formulaire</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
		<li><a href="#">Merchandising</a></li>
		<li><a href="#">Pharmacie Sélectionnée</a></li>
		<li class="active">Forms</li>
	</ol>
</section>

<section resize-form class="content">
	<tabset justified="true">
		<tab heading="Contexte Environnemental" active="tab.contexte_environnemental.active" ng-click="tabHeadingClick('contexte_environnemental')">
			<div ng-include="'views/merchandising/form-context-environnemental.html'"></div>
		</tab>
		<tab heading="Contexte Interne" active="tab.contexte_interne.active" ng-click="tabHeadingClick('contexte_interne')">
			contenu 2
		</tab>
		<tab heading="Profil Marketing" active="tab.profil_marketing.active" ng-click="tabHeadingClick('profil_marketing')">
			contenu 3
		</tab>
		<tab heading="Politique du Personnel" active="tab.politique_personnel.active" ng-click="tabHeadingClick('politique_personnel')">
			contenu 4
		</tab>
		<tab heading="Gestion des Stocks" active="tab.gestion_stocks.active" ng-click="tabHeadingClick('gestion_stocks')">
			contenu 5
		</tab>
		<tab heading="Divers" active="tab.divers.active" ng-click="tabHeadingClick('divers')">
			contenu 6
		</tab>
	</tabset>
</section>