<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Communication avec l'extérieur</h3>
		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		</div>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
	<div class="bg-info custom-header-part-form">
		<strong>Signalisation</strong>
	</div>
	<form role="form">
		<div class="box-body">
			<div class="row">
				<div class="col-md-2 form-label">Nombre et dimension des enseignes</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.signalisation.nombreDimensionEnseignes" value="5" data-labelauty="Excellent" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.signalisation.nombreDimensionEnseignes" value="3" data-labelauty="Bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.signalisation.nombreDimensionEnseignes" value="2" data-labelauty="Moyen" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.signalisation.nombreDimensionEnseignes" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Visibilité de la pharamcie</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.signalisation.visibilitePharmacie" value="5" data-labelauty="Excellent" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.signalisation.visibilitePharmacie" value="3" data-labelauty="Bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.signalisation.visibilitePharmacie" value="2" data-labelauty="Moyen" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.signalisation.visibilitePharmacie" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Panneaux de signalisation aux abords</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.signalisation.panneaux" value="5" data-labelauty="Excellent" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.signalisation.panneaux" value="3" data-labelauty="Bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.signalisation.panneaux" value="2" data-labelauty="Moyen" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.signalisation.panneaux" value="0" data-labelauty="Inexistant" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Etat général</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.signalisation.etatGeneral" value="5" data-labelauty="Excellent" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.signalisation.etatGeneral" value="3" data-labelauty="Bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.signalisation.etatGeneral" value="2" data-labelauty="Moyen" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.signalisation.etatGeneral" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Propreté</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.signalisation.proprete" value="5" data-labelauty="Excellent" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.signalisation.proprete" value="3" data-labelauty="Bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.signalisation.proprete" value="2" data-labelauty="Moyen" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.signalisation.proprete" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
		</div>
	</form>

	<div class="bg-info custom-header-part-form">
		<strong>Vitrines</strong>
	</div>
	<form role="form">
		<div class="box-body">
			<div class="row">
				<div class="col-md-2 form-label">Eclairage vitrine</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.vitrines.eclairage" value="5" data-labelauty="Excellent" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.vitrines.eclairage" value="3" data-labelauty="Bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.vitrines.eclairage" value="2" data-labelauty="Moyen" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.vitrines.eclairage" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Vitrines soignées</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.vitrines.soin" value="5" data-labelauty="Excellent" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.vitrines.soin" value="3" data-labelauty="Bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.vitrines.soin" value="2" data-labelauty="Moyen" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.vitrines.soin" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Vitrines personnalisées</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.vitrines.personnalisees" value="5" data-labelauty="Excellent" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.vitrines.personnalisees" value="3" data-labelauty="Bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.vitrines.personnalisees" value="2" data-labelauty="Moyen" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.vitrines.personnalisees" value="0" data-labelauty="Inexistant" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Vitrines thématique</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.vitrines.thematiques" value="5" data-labelauty="Excellent" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.vitrines.thematiques" value="3" data-labelauty="Bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.vitrines.thematiques" value="2" data-labelauty="Moyen" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.vitrines.thematiques" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Vitrines Saisonnalisées</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.vitrines.saisonnalisees" value="5" data-labelauty="Excellent" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.vitrines.saisonnalisees" value="3" data-labelauty="Bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.vitrines.saisonnalisees" value="2" data-labelauty="Moyen" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.vitrines.saisonnalisees" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Nature du message délivré</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.vitrines.natureMessageDelivre" value="prix" data-labelauty="Prix" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.vitrines.natureMessageDelivre" value="promotion" data-labelauty="Promotion" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.vitrines.natureMessageDelivre" value="services" data-labelauty="Services" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.vitrines.natureMessageDelivre" value="enseigne_nationale" data-labelauty="Enseigne Nationale" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Affichage des horaires</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.vitrines.affichageHoraires" value="true" data-labelauty="Oui" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.vitrines.affichageHoraires" value="false" data-labelauty="Non" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Affichage des prix</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.vitrines.affichagePrix" value="true" data-labelauty="Oui" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.vitrines.affichagePrix" value="false" data-labelauty="Non" type="radio"/></div>
			</div>
		</div>
	</form>
</div>

<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Ambiance de la pharmacie</h3>
		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		</div>
	</div>
	<!-- /.box-header -->
	<!-- form start -->

	<div class="bg-info custom-header-part-form">
		<strong>Eclairage</strong>
	</div>
	<form role="form">
		<div class="box-body">
			<div class="row">
				<div class="col-md-2 form-label">Répartition</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.eclairage.repartition" value="5" data-labelauty="Excellent" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.eclairage.repartition" value="3" data-labelauty="Bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.eclairage.repartition" value="2" data-labelauty="Moyen" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.eclairage.repartition" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Puissance</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.eclairage.puissance" value="5" data-labelauty="Excellent" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.eclairage.puissance" value="3" data-labelauty="Bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.eclairage.puissance" value="2" data-labelauty="Moyen" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.eclairage.puissance" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Mesure au luxomètre</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.eclairage.mesure.comptoirs" placeholder="Comptoirs" type="text"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.eclairage.mesure.lineairesPara" placeholder="Linéaires Para" type="text"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.eclairage.mesure.lineairesOTC" placeholder="Linéaires OTC" type="text"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.eclairage.mesure.ambiance" placeholder="Ambiance" type="text"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Etat</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.eclairage.etat" value="5" data-labelauty="Excellent" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.eclairage.etat" value="4" data-labelauty="Très Bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.eclairage.etat" value="3" data-labelauty="Bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.eclairage.etat" value="2" data-labelauty="Moyen" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.eclairage.etat" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
		</div>
	</form>

	<div class="bg-info custom-header-part-form">
		<strong>Sonorisation</strong>
	</div>
	<form role="form">
		<div class="box-body">
			<div class="row">
				<div class="col-md-2 form-label">Niveau sonore</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.sonorisation.niveauSonore" value="5" data-labelauty="Bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.sonorisation.niveauSonore" value="2" data-labelauty="Inadapté" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.sonorisation.niveauSonore" value="0" data-labelauty="Inexistant" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Nature du programme musical</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.sonorisation.natureProgrammeMusical" value="5" data-labelauty="Bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.sonorisation.natureProgrammeMusical" value="2" data-labelauty="Inadapté" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.sonorisation.natureProgrammeMusical" value="0" data-labelauty="Inexistant" type="radio"/></div>
			</div>
		</div>
	</form>

	<div class="bg-info custom-header-part-form">
		<strong>Propreté</strong>
	</div>
	<form role="form">
		<div class="box-body">
			<div class="row">
				<div class="col-md-2 form-label">Sol</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.proprete.sol" value="5" data-labelauty="Excellent" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.proprete.sol" value="4" data-labelauty="Très Bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.proprete.sol" value="3" data-labelauty="Bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.proprete.sol" value="2" data-labelauty="Moyen" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.proprete.sol" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Linéaires / Produits</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.proprete.lineairesProduits" value="5" data-labelauty="Excellent" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.proprete.lineairesProduits" value="4" data-labelauty="Très Bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.proprete.lineairesProduits" value="3" data-labelauty="Bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.proprete.lineairesProduits" value="2" data-labelauty="Moyen" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.proprete.lineairesProduits" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Tenues du personnel</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.proprete.tenuesPersonnel" value="5" data-labelauty="Excellent" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.proprete.tenuesPersonnel" value="4" data-labelauty="Très Bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.proprete.tenuesPersonnel" value="3" data-labelauty="Bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.proprete.tenuesPersonnel" value="2" data-labelauty="Moyen" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.proprete.tenuesPersonnel" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
		</div>
	</form>
</div>

<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Communication dans l'espace de vente</h3>
		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		</div>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
	<form role="form">
		<div class="box-body">
			<div class="row">
				<div class="col-md-2 form-label">Affichage</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.affichage" value="5" data-labelauty="Bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.affichage" value="3" data-labelauty="Moyen" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.affichage" value="2" data-labelauty="Inadapté" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.affichage" value="0" data-labelauty="Inexistant" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Signalétique</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.signaletique" value="5" data-labelauty="Bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.signaletique" value="3" data-labelauty="Moyen" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.signaletique" value="2" data-labelauty="Inadapté" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.signaletique" value="0" data-labelauty="Inexistant" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Audio</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.audio" value="5" data-labelauty="Bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.audio" value="3" data-labelauty="Moyen" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.audio" value="2" data-labelauty="Inadapté" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.audio" value="0" data-labelauty="Inexistant" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">One-To-One</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.oneToOne" value="5" data-labelauty="Bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.oneToOne" value="3" data-labelauty="Moyen" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.oneToOne" value="2" data-labelauty="Inadapté" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.oneToOne" value="0" data-labelauty="Inexistant" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Balisage Linéaire</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.balisageLineaire" value="5" data-labelauty="Bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.balisageLineaire" value="3" data-labelauty="Moyen" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.balisageLineaire" value="2" data-labelauty="Inadapté" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.balisageLineaire" value="0" data-labelauty="Inexistant" type="radio"/></div>
			</div>
		</div>
	</form>
</div>

<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Organisation de l'espace de vente</h3>
		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		</div>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
	<form role="form">
		<div class="box-body">
			<div class="row">
				<div class="col-md-2 form-label">Gestion des flux de circulatioj</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.gestionFluxCirculation" value="5" data-labelauty="Bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.gestionFluxCirculation" value="3" data-labelauty="Moyen" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.gestionFluxCirculation" value="2" data-labelauty="Inadapté" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.gestionFluxCirculation" value="0" data-labelauty="Inexistant" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Mobilier</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.mobilier" value="commercial" data-labelauty="Commercial" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.mobilier" value="classique" data-labelauty="Classique" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.mobilier" value="inadapte" data-labelauty="Inadapté" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Logique d'implantation</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.logiqueImplantation" value="5" data-labelauty="Bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.logiqueImplantation" value="3" data-labelauty="Moyen" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.logiqueImplantation" value="2" data-labelauty="Inadapté" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.logiqueImplantation" value="0" data-labelauty="Inexistant" type="radio"/></div>
			</div>
		</div>
	</form>
</div>

<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Réserve</h3>
		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		</div>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
	<form role="form">
		<div class="box-body">
			<div class="row">
				<div class="col-md-2 form-label">Surface de la réserve</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.reserve.surface" value="5" data-labelauty="Bonne" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.reserve.surface" value="3" data-labelauty="Moyenne" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.reserve.surface" value="2" data-labelauty="Inadaptée" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.reserve.surface" value="0" data-labelauty="Insuffisante" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Organisation de la réserve</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.reserve.organisation" value="5" data-labelauty="Bonne" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.reserve.organisation" value="3" data-labelauty="Moyenne" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.reserve.organisation" value="2" data-labelauty="Inadaptée" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteInterne.reserve.organisation" value="0" data-labelauty="Inexistante" type="radio"/></div>
			</div>
		</div>
	</form>
</div>

<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Comptoirs</h3>
		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		</div>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
	<form role="form">
		<div class="box-body">
			<div class="row">
				<div class="col-md-3 form-label">Nombre de postes de vente</div>
				<div class="col-md-3"><input ng-model="survey.selected.forms.contexteInterne.comptoirs.nombre" type="number"/></div>
				<div class="col-md-3 form-label">Nombre de postes de vente para</div>
				<div class="col-md-3"><input ng-model="survey.selected.forms.contexteInterne.comptoirs.nombrePara" type="number"/></div>
			</div>
		</div>
	</form>
</div>