<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Fonctionnement interne de l'entreprise</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form">
        <div class="box-body">
            <div class="row">
                <div class="col-md-2 form-label">Les règles du fonctionnement sont clairement définies</div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.identification" value="5" data-labelauty="Oui" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.identification" value="4" data-labelauty="Souvent" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.identification" value="2" data-labelauty="Quelques fois" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.identification" value="1" data-labelauty="Rarement" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.identification" value="0" data-labelauty="Jamais" type="radio"/></div>
            </div>
            <div class="row">
                <div class="col-md-2 form-label">Les règles ont été formalisées au sein d'un document de référence</div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.formalisation" value="5" data-labelauty="Oui" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.formalisation" value="4" data-labelauty="Souvent" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.formalisation" value="2" data-labelauty="Quelques fois" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.formalisation" value="1" data-labelauty="Rarement" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.formalisation" value="0" data-labelauty="Jamais" type="radio"/></div>
            </div>
            <div class="row">
                <div class="col-md-2 form-label">Les règles font l'objet de réajustement permanents</div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.frequenceReajustement" value="5" data-labelauty="Oui" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.frequenceReajustement" value="4" data-labelauty="Souvent" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.frequenceReajustement" value="2" data-labelauty="Quelques fois" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.frequenceReajustement" value="1" data-labelauty="Rarement" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.frequenceReajustement" value="0" data-labelauty="Jamais" type="radio"/></div>
            </div>
            <div class="row">
                <div class="col-md-2 form-label">Les collaborateurs sont associés à l'élaboration de l'évolution de ces règles</div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.collaborateursAssociesEvolution" value="5" data-labelauty="Oui" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.collaborateursAssociesEvolution" value="4" data-labelauty="Souvent" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.collaborateursAssociesEvolution" value="2" data-labelauty="Quelques fois" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.collaborateursAssociesEvolution" value="1" data-labelauty="Rarement" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.collaborateursAssociesEvolution" value="0" data-labelauty="Jamais" type="radio"/></div>
            </div>
            <div class="row">
                <div class="col-md-2 form-label">La bonne application des règles est contrôlée régulièrement</div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.controleApplication" value="5" data-labelauty="Oui" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.controleApplication" value="4" data-labelauty="Souvent" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.controleApplication" value="2" data-labelauty="Quelques fois" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.controleApplication" value="1" data-labelauty="Rarement" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.controleApplication" value="0" data-labelauty="Jamais" type="radio"/></div>
            </div>
            <div class="row">
                <div class="col-md-2 form-label">Les pôles  de délégation et de responsabilité sont définis</div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.polesDelegationResponsables" value="5" data-labelauty="Oui" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.polesDelegationResponsables" value="4" data-labelauty="Souvent" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.polesDelegationResponsables" value="2" data-labelauty="Quelques fois" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.polesDelegationResponsables" value="1" data-labelauty="Rarement" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.polesDelegationResponsables" value="0" data-labelauty="Jamais" type="radio"/></div>
            </div>
            <div class="row">
                <div class="col-md-2 form-label">Les rôles sont répartis en fonction des compétences de chacun</div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.rolesRepartisCompetences" value="5" data-labelauty="Oui" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.rolesRepartisCompetences" value="4" data-labelauty="Souvent" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.rolesRepartisCompetences" value="2" data-labelauty="Quelques fois" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.rolesRepartisCompetences" value="1" data-labelauty="Rarement" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.rolesRepartisCompetences" value="0" data-labelauty="Jamais" type="radio"/></div>
            </div>
            <div class="row">
                <div class="col-md-2 form-label">Les tâches sont connues et réparties de façon cohérente</div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.tachesConnuesReparties" value="5" data-labelauty="Oui" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.tachesConnuesReparties" value="4" data-labelauty="Souvent" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.tachesConnuesReparties" value="2" data-labelauty="Quelques fois" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.tachesConnuesReparties" value="1" data-labelauty="Rarement" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.tachesConnuesReparties" value="0" data-labelauty="Jamais" type="radio"/></div>
            </div>
            <div class="row">
                <div class="col-md-2 form-label">Il existe une procédure d'intégration pour les nouveaux entrants</div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.procedureIntegration" value="5" data-labelauty="Oui" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.procedureIntegration" value="4" data-labelauty="Souvent" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.procedureIntegration" value="2" data-labelauty="Quelques fois" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.procedureIntegration" value="1" data-labelauty="Rarement" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.regles.procedureIntegration" value="0" data-labelauty="Jamais" type="radio"/></div>
            </div>
        </div>
    </form>

    <div class="bg-info custom-header-part-form">
        <strong>Communication interne</strong>
    </div>
    <form role="form">
        <div class="box-body">
            <div class="row">
                <div class="col-md-2 form-label">Le projet d'entreprise a fait l'objet d'une présentation à l'équipe</div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communication.projetEntreprise" value="5" data-labelauty="Oui" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communication.projetEntreprise" value="4" data-labelauty="Souvent" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communication.projetEntreprise" value="2" data-labelauty="Quelques fois" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communication.projetEntreprise" value="1" data-labelauty="Rarement" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communication.projetEntreprise" value="0" data-labelauty="Jamais" type="radio"/></div>
            </div>
            <div class="row">
                <div class="col-md-2 form-label">Les objectifs fonct l'objet d'une information régulière et adaptée</div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communication.objectifs" value="5" data-labelauty="Oui" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communication.objectifs" value="4" data-labelauty="Souvent" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communication.objectifs" value="2" data-labelauty="Quelques fois" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communication.objectifs" value="1" data-labelauty="Rarement" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communication.objectifs" value="0" data-labelauty="Jamais" type="radio"/></div>
            </div>
            <div class="row">
                <div class="col-md-2 form-label">Des entretiens individuels de développement ont lieu au moins une fois par an</div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communication.entretiensIndividuels" value="5" data-labelauty="Oui" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communication.entretiensIndividuels" value="4" data-labelauty="Souvent" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communication.entretiensIndividuels" value="2" data-labelauty="Quelques fois" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communication.entretiensIndividuels" value="1" data-labelauty="Rarement" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communication.entretiensIndividuels" value="0" data-labelauty="Jamais" type="radio"/></div>
            </div>
            <div class="row">
                <div class="col-md-2 form-label">Le manager peut se rendre disponible pour ses collaborateurs</div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communication.disponibiliteManager" value="5" data-labelauty="Oui" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communication.disponibiliteManager" value="4" data-labelauty="Souvent" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communication.disponibiliteManager" value="2" data-labelauty="Quelques fois" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communication.disponibiliteManager" value="1" data-labelauty="Rarement" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communication.disponibiliteManager" value="0" data-labelauty="Jamais" type="radio"/></div>
            </div>
        </div>
    </form>

    <div class="bg-info custom-header-part-form">
        <strong>Communication avec la clientèle</strong>
    </div>
    <form role="form">
        <div class="box-body">
            <div class="row">
                <div class="col-md-2 form-label">Les clients connaissent le nom du(des) titulaire(s)</div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communicationClientele.connaissanceTitulaires" value="5" data-labelauty="Oui" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communicationClientele.connaissanceTitulaires" value="4" data-labelauty="Souvent" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communicationClientele.connaissanceTitulaires" value="2" data-labelauty="Quelques fois" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communicationClientele.connaissanceTitulaires" value="1" data-labelauty="Rarement" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communicationClientele.connaissanceTitulaires" value="0" data-labelauty="Jamais" type="radio"/></div>
            </div>
            <div class="row">
                <div class="col-md-2 form-label">Les horaires d'ouverture sont connues et communiquées</div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communicationClientele.horairesOuvertures" value="5" data-labelauty="Oui" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communicationClientele.horairesOuvertures" value="4" data-labelauty="Souvent" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communicationClientele.horairesOuvertures" value="2" data-labelauty="Quelques fois" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communicationClientele.horairesOuvertures" value="1" data-labelauty="Rarement" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communicationClientele.horairesOuvertures" value="0" data-labelauty="Jamais" type="radio"/></div>
            </div>
            <div class="row">
                <div class="col-md-2 form-label">Les pôles de responsabilité sont connus des clients</div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communicationClientele.polesResponsabilites" value="5" data-labelauty="Oui" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communicationClientele.polesResponsabilites" value="4" data-labelauty="Souvent" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communicationClientele.polesResponsabilites" value="2" data-labelauty="Quelques fois" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communicationClientele.polesResponsabilites" value="1" data-labelauty="Rarement" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communicationClientele.polesResponsabilites" value="0" data-labelauty="Jamais" type="radio"/></div>
            </div>
            <div class="row">
                <div class="col-md-2 form-label">Les valeurs et les engagements de l'entreprise sotn communiquées aux clients</div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communicationClientele.valeursEngagments" value="5" data-labelauty="Oui" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communicationClientele.valeursEngagments" value="4" data-labelauty="Souvent" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communicationClientele.valeursEngagments" value="2" data-labelauty="Quelques fois" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communicationClientele.valeursEngagments" value="1" data-labelauty="Rarement" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communicationClientele.valeursEngagments" value="0" data-labelauty="Jamais" type="radio"/></div>
            </div>
            <div class="row">
                <div class="col-md-2 form-label">Les opérations promotionnelles sont proposées aux clients</div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communicationClientele.operationsPromotionnelles" value="5" data-labelauty="Oui" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communicationClientele.operationsPromotionnelles" value="4" data-labelauty="Souvent" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communicationClientele.operationsPromotionnelles" value="2" data-labelauty="Quelques fois" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communicationClientele.operationsPromotionnelles" value="1" data-labelauty="Rarement" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communicationClientele.operationsPromotionnelles" value="0" data-labelauty="Jamais" type="radio"/></div>
            </div>
            <div class="row">
                <div class="col-md-2 form-label">La politique de prix est claire pour l'équipe et pour la clientèle</div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communicationClientele.politiquePrix" value="5" data-labelauty="Oui" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communicationClientele.politiquePrix" value="4" data-labelauty="Souvent" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communicationClientele.politiquePrix" value="2" data-labelauty="Quelques fois" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communicationClientele.politiquePrix" value="1" data-labelauty="Rarement" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.communicationClientele.politiquePrix" value="0" data-labelauty="Jamais" type="radio"/></div>
            </div>
        </div>
    </form>

    <div class="bg-info custom-header-part-form">
        <strong>Politique de formation / expertise</strong>
    </div>
    <form role="form">
        <div class="box-body">
            <div class="row">
                <div class="col-md-2 form-label">La formation des collaborateurs fait l'objet d'une reflexion</div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.politiqueFormation.formationCollaborateur" value="5" data-labelauty="Oui" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.politiqueFormation.formationCollaborateur" value="4" data-labelauty="Souvent" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.politiqueFormation.formationCollaborateur" value="2" data-labelauty="Quelques fois" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.politiqueFormation.formationCollaborateur" value="1" data-labelauty="Rarement" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.politiqueFormation.formationCollaborateur" value="0" data-labelauty="Jamais" type="radio"/></div>
            </div>
            <div class="row">
                <div class="col-md-2 form-label">L'équipe est sensibilisée à l'importance de la formation</div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.politiqueFormation.sensibilisationFormation" value="5" data-labelauty="Oui" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.politiqueFormation.sensibilisationFormation" value="4" data-labelauty="Souvent" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.politiqueFormation.sensibilisationFormation" value="2" data-labelauty="Quelques fois" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.politiqueFormation.sensibilisationFormation" value="1" data-labelauty="Rarement" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.politiqueFormation.sensibilisationFormation" value="0" data-labelauty="Jamais" type="radio"/></div>
            </div>
            <div class="row">
                <div class="col-md-2 form-label">L'équipe est régulièrement formée aux produits</div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.politiqueFormation.formationProduit" value="5" data-labelauty="Oui" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.politiqueFormation.formationProduit" value="4" data-labelauty="Souvent" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.politiqueFormation.formationProduit" value="2" data-labelauty="Quelques fois" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.politiqueFormation.formationProduit" value="1" data-labelauty="Rarement" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.politiqueFormation.formationProduit" value="0" data-labelauty="Jamais" type="radio"/></div>
            </div>
            <div class="row">
                <div class="col-md-2 form-label">L'équipe est régulièrement formée aux techniques de vente</div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.politiqueFormation.formationTechniquesVente" value="5" data-labelauty="Oui" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.politiqueFormation.formationTechniquesVente" value="4" data-labelauty="Souvent" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.politiqueFormation.formationTechniquesVente" value="2" data-labelauty="Quelques fois" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.politiqueFormation.formationTechniquesVente" value="1" data-labelauty="Rarement" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.politiqueFormation.formationTechniquesVente" value="0" data-labelauty="Jamais" type="radio"/></div>
            </div>
        </div>
    </form>

    <div class="bg-info custom-header-part-form">
        <strong>Politique salariale</strong>
    </div>
    <form role="form">
        <div class="box-body">
            <div class="row">
                <div class="col-md-2 form-label">La grille des salaires est cohérente</div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.politiqueSalariale.grilleSalariale" value="5" data-labelauty="Oui" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.politiqueSalariale.grilleSalariale" value="3" data-labelauty="Partiellement" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.politiqueSalariale.grilleSalariale" value="0" data-labelauty="Non" type="radio"/></div>
            </div>
            <div class="row">
                <div class="col-md-2 form-label">Le personnel est intéressé aux résultats de l'entreprise</div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.politiqueSalariale.interetResultatEntreprise" value="5" data-labelauty="Oui" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.politiqueSalariale.interetResultatEntreprise" value="4" data-labelauty="Souvent" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.politiqueSalariale.interetResultatEntreprise" value="2" data-labelauty="Quelques fois" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.politiqueSalariale.interetResultatEntreprise" value="1" data-labelauty="Rarement" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.politiqueSalariale.interetResultatEntreprise" value="0" data-labelauty="Jamais" type="radio"/></div>
            </div>
            <div class="row">
                <div class="col-md-2 form-label">Il existe un plan d'intéressement</div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.politiqueSalariale.planInteressementExistant" value="true" data-labelauty="Oui" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.politiquePersonnel.fonctionnementInterne.politiqueSalariale.planInteressementExistant" value="false" data-labelauty="Non" type="radio"/></div>
            </div>
        </div>
    </form>
</div>
