<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Accueil</h3>
		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
		</div>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
	<h4>Accueil Téléphonique</h4>
	<form role="form">
		<div class="box-body">
			<div class="row">
				<div class="col-md-2 form-label">Formation du personnel à l'accueil téléphonique</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.formationPersonnel" value="5" data-labelauty="Toute l'équipe" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.formationPersonnel" value="3" data-labelauty="80% de l'équipe" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.formationPersonnel" value="2" data-labelauty="30% de l'équipe" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.formationPersonnel" value="1" data-labelauty="1 personne" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.formationPersonnel" value="0" data-labelauty="Aucune" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Nombre de sonneries</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.nbSonneries" value="5" data-labelauty="Moins de 3" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.nbSonneries" value="3" data-labelauty="3 sonneries" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.nbSonneries" value="2" data-labelauty="4 sonneries" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.nbSonneries" value="1" data-labelauty="5 sonneries" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.nbSonneries" value="0" data-labelauty="> à 6 sonneries" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Phrase Type Accueil</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.phraseTypeAccueil" value="5" data-labelauty="Oui" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.phraseTypeAccueil" value="3" data-labelauty="Souvent" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.phraseTypeAccueil" value="2" data-labelauty="Quelques Fois" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.phraseTypeAccueil" value="1" data-labelauty="Rarement" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.phraseTypeAccueil" value="0" data-labelauty="Inexistant" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Protocole de mise en attente téléphonique</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.protocoleMiseAttente" value="5" data-labelauty="Oui" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.protocoleMiseAttente" value="3" data-labelauty="Souvent" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.protocoleMiseAttente" value="2" data-labelauty="Quelques Fois" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.protocoleMiseAttente" value="1" data-labelauty="Rarement" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.protocoleMiseAttente" value="0" data-labelauty="Inexistant" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Découverte de l'objet de l'appel</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.decouverteObjetAppel" value="5" data-labelauty="Oui" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.decouverteObjetAppel" value="3" data-labelauty="Souvent" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.decouverteObjetAppel" value="2" data-labelauty="Quelques Fois" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.decouverteObjetAppel" value="1" data-labelauty="Rarement" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.decouverteObjetAppel" value="0" data-labelauty="Inexistant" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Procédure de transmission de message</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.procedureTransmissionMessage" value="5" data-labelauty="Oui" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.procedureTransmissionMessage" value="3" data-labelauty="Souvent" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.procedureTransmissionMessage" value="2" data-labelauty="Quelques Fois" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.procedureTransmissionMessage" value="1" data-labelauty="Rarement" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.procedureTransmissionMessage" value="0" data-labelauty="Inexistant" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Procédure de confirmation de prise de message</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.procedureConfirmPriseMessage" value="5" data-labelauty="Oui" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.procedureConfirmPriseMessage" value="3" data-labelauty="Souvent" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.procedureConfirmPriseMessage" value="2" data-labelauty="Quelques Fois" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.procedureConfirmPriseMessage" value="1" data-labelauty="Rarement" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.procedureConfirmPriseMessage" value="0" data-labelauty="Inexistant" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Phrase Type de prise de congés</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.phraseTypeConges" value="5" data-labelauty="Oui" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.phraseTypeConges" value="3" data-labelauty="Souvent" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.phraseTypeConges" value="2" data-labelauty="Quelques Fois" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.phraseTypeConges" value="1" data-labelauty="Rarement" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilTel.phraseTypeConges" value="0" data-labelauty="Inexistant" type="radio"/></div>
			</div>
		</div>
	</form>

	<h4>Accueil Clientèle</h4>
	<form role="form">
		<div class="box-body">
			<div class="row">
				<div class="col-md-2 form-label">Prise en charge du client dès l'entrée</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilClientele.pecClientEntree" value="5" data-labelauty="Toute l'équipe" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilClientele.pecClientEntree" value="3" data-labelauty="80% de l'équipe" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilClientele.pecClientEntree" value="2" data-labelauty="30% de l'équipe" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilClientele.pecClientEntree" value="1" data-labelauty="1 personne" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilClientele.pecClientEntree" value="0" data-labelauty="Aucune" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Phrase Type Accueil</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilClientele.phraseTypeAccueil" value="5" data-labelauty="Oui" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilClientele.phraseTypeAccueil" value="3" data-labelauty="Souvent" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilClientele.phraseTypeAccueil" value="2" data-labelauty="Quelques Fois" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilClientele.phraseTypeAccueil" value="1" data-labelauty="Rarement" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilClientele.phraseTypeAccueil" value="0" data-labelauty="Inexistant" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Procédure de réduction des délais d'attente</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilClientele.procedureReducDelaiAttente" value="5" data-labelauty="Oui" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilClientele.procedureReducDelaiAttente" value="3" data-labelauty="Souvent" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilClientele.procedureReducDelaiAttente" value="2" data-labelauty="Quelques Fois" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilClientele.procedureReducDelaiAttente" value="1" data-labelauty="Rarement" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilClientele.procedureReducDelaiAttente" value="0" data-labelauty="Inexistant" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Efforts portés pour rendre l'attente agréable</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilClientele.efforAttente" value="5" data-labelauty="Oui" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilClientele.efforAttente" value="3" data-labelauty="Souvent" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilClientele.efforAttente" value="2" data-labelauty="Quelques Fois" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilClientele.efforAttente" value="1" data-labelauty="Rarement" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilClientele.efforAttente" value="0" data-labelauty="Inexistant" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Exploration de la demande <small>(techniques de questionnement)</small></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilClientele.exploDemande" value="5" data-labelauty="Oui" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilClientele.exploDemande" value="3" data-labelauty="Souvent" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilClientele.exploDemande" value="2" data-labelauty="Quelques Fois" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilClientele.exploDemande" value="1" data-labelauty="Rarement" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilClientele.exploDemande" value="0" data-labelauty="Inexistant" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Exploration complémentaire <small>(ventes associées)</small></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilClientele.exploCompl" value="5" data-labelauty="Oui" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilClientele.exploCompl" value="3" data-labelauty="Souvent" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilClientele.exploCompl" value="2" data-labelauty="Quelques Fois" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilClientele.exploCompl" value="1" data-labelauty="Rarement" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilClientele.exploCompl" value="0" data-labelauty="Inexistant" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Phrase Type de prise de congés</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilClientele.phraseTypeConges" value="5" data-labelauty="Oui" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilClientele.phraseTypeConges" value="3" data-labelauty="Souvent" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilClientele.phraseTypeConges" value="2" data-labelauty="Quelques Fois" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilClientele.phraseTypeConges" value="1" data-labelauty="Rarement" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.accueilClientele.phraseTypeConges" value="0" data-labelauty="Inexistant" type="radio"/></div>
			</div>
		</div>
	</form>
</div>

<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Structure de l'assortiment</h3>
		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
		</div>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
	<form role="form">
		<div class="box-body">
			<div class="row">
				<div class="col-md-2 form-label">Dermatologie</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.dermatologie" value="5" data-labelauty="Premium" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.dermatologie" value="4" data-labelauty="Large" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.dermatologie" value="2" data-labelauty="Basique" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.dermatologie" value="1" data-labelauty="Insuffisant" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.dermatologie" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Cosmétique</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.cosmetique" value="5" data-labelauty="Premium" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.cosmetique" value="4" data-labelauty="Large" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.cosmetique" value="2" data-labelauty="Basique" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.cosmetique" value="1" data-labelauty="Insuffisant" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.cosmetique" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Solaires</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.solaires" value="5" data-labelauty="Premium" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.solaires" value="4" data-labelauty="Large" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.solaires" value="2" data-labelauty="Basique" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.solaires" value="1" data-labelauty="Insuffisant" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.solaires" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Amincissants</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.amincissants" value="5" data-labelauty="Premium" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.amincissants" value="4" data-labelauty="Large" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.amincissants" value="2" data-labelauty="Basique" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.amincissants" value="1" data-labelauty="Insuffisant" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.amincissants" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Crèmes mains</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.cremesMain" value="5" data-labelauty="Premium" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.cremesMain" value="4" data-labelauty="Large" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.cremesMain" value="2" data-labelauty="Basique" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.cremesMain" value="1" data-labelauty="Insuffisant" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.cremesMain" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Hygiène Intime</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.hygieneIntime" value="5" data-labelauty="Premium" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.hygieneIntime" value="4" data-labelauty="Large" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.hygieneIntime" value="2" data-labelauty="Basique" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.hygieneIntime" value="1" data-labelauty="Insuffisant" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.hygieneIntime" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Bébé dermo</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.bebeDermo" value="5" data-labelauty="Premium" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.bebeDermo" value="4" data-labelauty="Large" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.bebeDermo" value="2" data-labelauty="Basique" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.bebeDermo" value="1" data-labelauty="Insuffisant" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.bebeDermo" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Bébé accessoires</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.bebeAccessoires" value="5" data-labelauty="Premium" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.bebeAccessoires" value="4" data-labelauty="Large" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.bebeAccessoires" value="2" data-labelauty="Basique" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.bebeAccessoires" value="1" data-labelauty="Insuffisant" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.bebeAccessoires" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Capillaires</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.capillaires" value="5" data-labelauty="Premium" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.capillaires" value="4" data-labelauty="Large" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.capillaires" value="2" data-labelauty="Basique" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.capillaires" value="1" data-labelauty="Insuffisant" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.capillaires" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Pieds</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.pieds" value="5" data-labelauty="Premium" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.pieds" value="4" data-labelauty="Large" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.pieds" value="2" data-labelauty="Basique" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.pieds" value="1" data-labelauty="Insuffisant" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.pieds" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">HBD</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.hbd" value="5" data-labelauty="Premium" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.hbd" value="4" data-labelauty="Large" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.hbd" value="2" data-labelauty="Basique" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.hbd" value="1" data-labelauty="Insuffisant" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.hbd" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Contactologue</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.contactologue" value="5" data-labelauty="Premium" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.contactologue" value="4" data-labelauty="Large" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.contactologue" value="2" data-labelauty="Basique" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.contactologue" value="1" data-labelauty="Insuffisant" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.contactologue" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Premiers Secours</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.premiersSecours" value="5" data-labelauty="Premium" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.premiersSecours" value="4" data-labelauty="Large" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.premiersSecours" value="2" data-labelauty="Basique" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.premiersSecours" value="1" data-labelauty="Insuffisant" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.premiersSecours" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Compléments Alimentaires</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.complAlimentaires" value="5" data-labelauty="Premium" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.complAlimentaires" value="4" data-labelauty="Large" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.complAlimentaires" value="2" data-labelauty="Basique" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.complAlimentaires" value="1" data-labelauty="Insuffisant" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.complAlimentaires" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Diététique Minceur</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.dietMinceur" value="5" data-labelauty="Premium" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.dietMinceur" value="4" data-labelauty="Large" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.dietMinceur" value="2" data-labelauty="Basique" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.dietMinceur" value="1" data-labelauty="Insuffisant" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.dietMinceur" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Substituts de repas</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.substRepas" value="5" data-labelauty="Premium" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.substRepas" value="4" data-labelauty="Large" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.substRepas" value="2" data-labelauty="Basique" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.substRepas" value="1" data-labelauty="Insuffisant" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.substRepas" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Herboristerie</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.herboristerie" value="5" data-labelauty="Premium" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.herboristerie" value="4" data-labelauty="Large" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.herboristerie" value="2" data-labelauty="Basique" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.herboristerie" value="1" data-labelauty="Insuffisant" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.herboristerie" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Vétérinaire</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.veterinaire" value="5" data-labelauty="Premium" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.veterinaire" value="4" data-labelauty="Large" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.veterinaire" value="2" data-labelauty="Basique" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.veterinaire" value="1" data-labelauty="Insuffisant" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.veterinaire" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Douleurs &amp; Fièvre</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.douleursFievre" value="5" data-labelauty="Premium" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.douleursFievre" value="4" data-labelauty="Large" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.douleursFievre" value="2" data-labelauty="Basique" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.douleursFievre" value="1" data-labelauty="Insuffisant" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.douleursFievre" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Rhum</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.rhum" value="5" data-labelauty="Premium" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.rhum" value="4" data-labelauty="Large" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.rhum" value="2" data-labelauty="Basique" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.rhum" value="1" data-labelauty="Insuffisant" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.rhum" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Gorge</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.gorge" value="5" data-labelauty="Premium" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.gorge" value="4" data-labelauty="Large" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.gorge" value="2" data-labelauty="Basique" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.gorge" value="1" data-labelauty="Insuffisant" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.gorge" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Digestion</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.digestion" value="5" data-labelauty="Premium" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.digestion" value="4" data-labelauty="Large" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.digestion" value="2" data-labelauty="Basique" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.digestion" value="1" data-labelauty="Insuffisant" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.digestion" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Homéopathie</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.homeo" value="5" data-labelauty="Premium" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.homeo" value="4" data-labelauty="Large" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.homeo" value="2" data-labelauty="Basique" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.homeo" value="1" data-labelauty="Insuffisant" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.homeo" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Sevrage Tabagique</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.sevrageTabac" value="5" data-labelauty="Premium" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.sevrageTabac" value="4" data-labelauty="Large" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.sevrageTabac" value="2" data-labelauty="Basique" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.sevrageTabac" value="1" data-labelauty="Insuffisant" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.sevrageTabac" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Vitamines</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.vitamines" value="5" data-labelauty="Premium" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.vitamines" value="4" data-labelauty="Large" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.vitamines" value="2" data-labelauty="Basique" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.vitamines" value="1" data-labelauty="Insuffisant" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.structureAssortiment.vitamines" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
		</div>
	</form>
</div>

<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Merchandising</h3>
		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
		</div>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
	<h4>Linéaires</h4>
	<form role="form">
		<div class="box-body">
			<div class="row">
				<div class="col-md-2 form-label">Potentiel d'exposition</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.merchandising.lineaires.potExpo.largeur" placeholder="Largeur linéaires" type="text"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.merchandising.lineaires.potExpo.profondeur" placeholder="Profondeur" type="text"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.merchandising.lineaires.potExpo.nbNiveaux" placeholder="Nb moy. niv./linéaires" type="text"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.merchandising.lineaires.potExpo.modularite" placeholder="Modularité" type="text"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Linéaires para</div>
				<div class="col-md-5"><input ng-model="survey.selected.forms.profilMarketing.merchandising.lineaires.para.nb" placeholder="Nombre" type="number"/></div>
				<div class="col-md-5"><input ng-model="survey.selected.forms.profilMarketing.merchandising.lineaires.para.mld" placeholder="Mètres Linéaires développés" type="text"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Linéaires OTC</div>
				<div class="col-md-5"><input ng-model="survey.selected.forms.profilMarketing.merchandising.lineaires.otc.nb" placeholder="Nombre" type="number"/></div>
				<div class="col-md-5"><input ng-model="survey.selected.forms.profilMarketing.merchandising.lineaires.otc.mld" placeholder="Mètres Linéaires développés" type="text"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Effet de masse</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.merchandising.lineaires.effetMasse" value="5" data-labelauty="Bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.merchandising.lineaires.effetMasse" value="2" data-labelauty="Insuffisant" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.merchandising.lineaires.effetMasse" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Logique d'implantation</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.merchandising.lineaires.logiqueImplantation" value="5" data-labelauty="Bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.merchandising.lineaires.logiqueImplantation" value="2" data-labelauty="Insuffisant" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.merchandising.lineaires.logiqueImplantation" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
		</div>
	</form>

	<h4>Têtes de Gondoles</h4>
	<form role="form">
		<div class="box-body">
			<div class="row">
				<div class="col-md-2 form-label">Nombre de TdG</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.merchandising.tdg.nb" placeholder="Nombre" type="number"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Effet de masse</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.merchandising.tdg.effetMasse" value="5" data-labelauty="Bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.merchandising.tdg.effetMasse" value="2" data-labelauty="Insuffisant" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.merchandising.tdg.effetMasse" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Sélection des produits</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.merchandising.tdg.selectProd" value="5" data-labelauty="Bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.merchandising.tdg.selectProd" value="2" data-labelauty="Insuffisant" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.merchandising.tdg.selectProd" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Balisage des prix</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.merchandising.tdg.balisagePrix" value="5" data-labelauty="Bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.merchandising.tdg.balisagePrix" value="2" data-labelauty="Insuffisant" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.merchandising.tdg.balisagePrix" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
		</div>
	</form>

	<h4>Comptoirs</h4>
	<form role="form">
		<div class="box-body">
			<div class="row">
				<div class="col-md-2 form-label">Nombre de points de vente</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.merchandising.comptoirs.nb" placeholder="Nombre" type="number"/></div>
				<div class="col-md-2 form-label">Postes de vente para</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.merchandising.comptoirs.nbPara" placeholder="Nombre" type="number"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Encombrement des comptoirs</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.merchandising.comptoirs.encombrement" value="5" data-labelauty="Adapté" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.merchandising.comptoirs.encombrement" value="2" data-labelauty="Pléthorique" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.merchandising.comptoirs.encombrement" value="0" data-labelauty="Insuffisant" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Sélection des produits</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.merchandising.comptoirs.selectProd" value="5" data-labelauty="Bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.merchandising.comptoirs.selectProd" value="2" data-labelauty="Insuffisant" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.merchandising.comptoirs.selectProd" value="0" data-labelauty="Inadapté" type="radio"/></div>
			</div>
		</div>
	</form>

	<h4>Balisage</h4>
	<form role="form">
		<div class="box-body">
			<div class="row">
				<div class="col-md-2 form-label">Sélection des produits balisés</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.merchandising.balisage.selectProd" value="5" data-labelauty="Bonne" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.merchandising.balisage.selectProd" value="2" data-labelauty="Insuffisante" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.merchandising.balisage.selectProd" value="0" data-labelauty="Inadaptée" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Charte graphique balisage</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.merchandising.balisage.charteGraphique" value="5" data-labelauty="Elaborée" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.merchandising.balisage.charteGraphique" value="2" data-labelauty="Manuelle" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.merchandising.balisage.charteGraphique" value="0" data-labelauty="Inexistante" type="radio"/></div>
			</div>
		</div>
	</form>
</div>

<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Politique de prix</h3>
		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
		</div>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
	<h4>Para</h4>
	<form role="form">
		<div class="box-body">
			<div class="row">
				<div class="col-md-2 form-label">Niveau de prix général</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.polPrix.para.gen" value="5" data-labelauty="Agressif" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.polPrix.para.gen" value="3" data-labelauty="Compétitif" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.polPrix.para.gen" value="2" data-labelauty="Moyen" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.polPrix.para.gen" value="0" data-labelauty="Elevé" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Prix des leaders</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.polPrix.para.leader" value="5" data-labelauty="Agressif" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.polPrix.para.leader" value="3" data-labelauty="Compétitif" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.polPrix.para.leader" value="2" data-labelauty="Moyen" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.polPrix.para.leader" value="0" data-labelauty="Elevé" type="radio"/></div>
			</div>
		</div>
	</form>

	<h4>OTC</h4>
	<form role="form">
		<div class="box-body">
			<div class="row">
				<div class="col-md-2 form-label">Niveau de prix général</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.polPrix.otc.gen" value="5" data-labelauty="Agressif" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.polPrix.otc.gen" value="3" data-labelauty="Compétitif" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.polPrix.otc.gen" value="2" data-labelauty="Moyen" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.polPrix.otc.gen" value="0" data-labelauty="Elevé" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Prix des leaders</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.polPrix.otc.leader" value="5" data-labelauty="Agressif" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.polPrix.otc.leader" value="3" data-labelauty="Compétitif" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.polPrix.otc.leader" value="2" data-labelauty="Moyen" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.polPrix.otc.leader" value="0" data-labelauty="Elevé" type="radio"/></div>
			</div>
		</div>
	</form>
</div>

<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Politique de communication</h3>
		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
		</div>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
	<h4>Animation du point de vente</h4>
	<form role="form">
		<div class="box-body">
			<div class="row">
				<div class="col-md-2 form-label">Pertinence du thème</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.polCom.animPdv.pertinenceTheme" value="5" data-labelauty="Bonne" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.polCom.animPdv.pertinenceTheme" value="3" data-labelauty="Insuffisante" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.polCom.animPdv.pertinenceTheme" value="2" data-labelauty="Inadaptée" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Clarté de l'offre</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.polCom.animPdv.clarteOffre" value="5" data-labelauty="Bonne" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.polCom.animPdv.clarteOffre" value="3" data-labelauty="Insuffisante" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.polCom.animPdv.clarteOffre" value="2" data-labelauty="Inadaptée" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Agressivité commerciale</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.polCom.animPdv.agressiviteComm" value="5" data-labelauty="Bonne" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.polCom.animPdv.agressiviteComm" value="3" data-labelauty="Insuffisante" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.polCom.animPdv.agressiviteComm" value="2" data-labelauty="Inadaptée" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-2 form-label">Périodicité des opérations</div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.polCom.animPdv.PeriodOperations" value="5" data-labelauty="Bonne" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.polCom.animPdv.PeriodOperations" value="3" data-labelauty="Insuffisante" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.profilMarketing.polCom.animPdv.PeriodOperations" value="2" data-labelauty="Inadaptée" type="radio"/></div>
			</div>
		</div>
	</form>
</div>