<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Achats</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form">
        <div class="box-body">
            <div class="row">
                <div class="col-md-6 form-label">Pôle de compétence achats <small>la(les) personne(s) responsable(s) des achats sont clairement identifié(es)</small></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.gestionStocks.achats.poleCompetence" value="5" data-labelauty="Oui" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.gestionStocks.achats.poleCompetence" value="3" data-labelauty="Partiellement" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.gestionStocks.achats.poleCompetence" value="0" data-labelauty="Non" type="radio"/></div>
            </div>
            <div class="row">
                <div class="col-md-6 form-label">Calcul des prix de vente <small>la(les) personne(s) responsable(s)des prix sont clairement identifié(es)</small></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.gestionStocks.achats.calculPrixVente" value="5" data-labelauty="Oui" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.gestionStocks.achats.calculPrixVente" value="3" data-labelauty="Partiellement" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.gestionStocks.achats.calculPrixVente" value="0" data-labelauty="Non" type="radio"/></div>
            </div>
        </div>
    </form>
</div>

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Informatique</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form">
        <div class="box-body">
            <div class="row">
                <div class="col-md-6 form-label">Pôle de compétence informatique <small>la(les) personne(s) responsable(s) des l'informatique sont clairement identifié(es)</small></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.gestionStocks.informatique.poleCompetence" value="5" data-labelauty="Oui" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.gestionStocks.informatique.poleCompetence" value="3" data-labelauty="Partiellement" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.gestionStocks.informatique.poleCompetence" value="0" data-labelauty="Non" type="radio"/></div>
            </div>
            <div class="row">
                <div class="col-md-6 form-label">Les fiches produits sont à jour</div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.gestionStocks.informatique.majFichesProduits" value="5" data-labelauty="Oui" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.gestionStocks.informatique.majFichesProduits" value="3" data-labelauty="Partiellement" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.gestionStocks.informatique.majFichesProduits" value="0" data-labelauty="Non" type="radio"/></div>
            </div>
            <div class="row">
                <div class="col-md-6 form-label">Calcul des prix de vente <small>la(les) personne(s) responsables des prix sont clairement identifié(es)</small></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.gestionStocks.informatique.calculPrixVente" value="5" data-labelauty="Oui" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.gestionStocks.informatique.calculPrixVente" value="3" data-labelauty="Partiellement" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.gestionStocks.informatique.calculPrixVente" value="0" data-labelauty="Non" type="radio"/></div>
            </div>
        </div>
    </form>
</div>

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Stocks</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form">
        <div class="box-body">
            <div class="row">
                <div class="col-md-6 form-label">Pôle de compétence réception des commandes <small>la(les) personne(s) responsables des réceptions sont clairement identifié(es)</small></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.gestionStocks.stocks.poleCompetenceReceptionCommandes" value="5" data-labelauty="Oui" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.gestionStocks.stocks.poleCompetenceReceptionCommandes" value="3" data-labelauty="Partiellement" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.gestionStocks.stocks.poleCompetenceReceptionCommandes" value="0" data-labelauty="Non" type="radio"/></div>
            </div>
            <div class="row">
                <div class="col-md-6 form-label">Pôle de compétence vérification des factures <small>la(les) personne(s) responsables des vérifications  sont clairement identifié(es)</small></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.gestionStocks.stocks.poleCompetenceVerifFactures" value="5" data-labelauty="Oui" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.gestionStocks.stocks.poleCompetenceVerifFactures" value="3" data-labelauty="Partiellement" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.gestionStocks.stocks.poleCompetenceVerifFactures" value="0" data-labelauty="Non" type="radio"/></div>
            </div>
        </div>
    </form>

    <div class="bg-info custom-header-part-form">
        <strong>Réapprovisionnement des rayons</strong>
    </div>
    <form role="form">
        <div class="box-body">
            <div class="row">
                <div class="col-md-6 form-label">Pôle de compétence réapprovisionnement des rayons <small>la(les) personne(s) responsables des réappros  sont clairement identifié(es)</small></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.gestionStocks.reapprovisionnementRayons.poleCompetence" value="5" data-labelauty="Oui" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.gestionStocks.reapprovisionnementRayons.poleCompetence" value="3" data-labelauty="Partiellement" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.gestionStocks.reapprovisionnementRayons.poleCompetence" value="0" data-labelauty="Non" type="radio"/></div>
            </div>
            <div class="row">
                <div class="col-md-6 form-label">Réapprovisionnement des rayons <small>le réapprovisionnement des rayons fait l'objet d'une procédure</small></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.gestionStocks.reapprovisionnementRayons.reapprovisionnementRayons" value="5" data-labelauty="Oui" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.gestionStocks.reapprovisionnementRayons.reapprovisionnementRayons" value="3" data-labelauty="Partiellement" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.gestionStocks.reapprovisionnementRayons.reapprovisionnementRayons" value="0" data-labelauty="Non" type="radio"/></div>
            </div>
            <div class="row">
                <div class="col-md-4 form-label">Fréquence réapprovisionnement des rayons <small>le réapprovisionnement des rayons fait l'objet d'une procédure</small></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.gestionStocks.reapprovisionnementRayons.frequence" value="multiquotidien" data-labelauty="Plusieur fois par jour" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.gestionStocks.reapprovisionnementRayons.frequence" value="quotidien" data-labelauty="Quotidien" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.gestionStocks.reapprovisionnementRayons.frequence" value="hebdomadaire" data-labelauty="Hebdomadaire" type="radio"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.gestionStocks.reapprovisionnementRayons.frequence" value="mensuel" data-labelauty="Mensuel" type="radio"/></div>
            </div>
        </div>
    </form>
</div>
