<section class="content-header">
	<h1>
		Merchandising
		<small>Formulaire</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
		<li><a href="#">Merchandising</a></li>
		<li><a href="#">Pharmacie Sélectionnée</a></li>
		<li class="active">Forms</li>
	</ol>
</section>

<section resize-form class="content">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="rows" style="margin-top:8px">
				<div class="col-md-2" style="margin-top:7px">Sélectionner un rapport à afficher:</div>
				<div class="col-md-5">
					<ui-select ng-model="survey.selected" required="true">
						<ui-select-match placeholder="Rapports enregistrés pour cette pharamcie...">{{$select.selected.libelle}}</ui-select-match>
						<ui-select-choices repeat="survey in survey.list | filter: $select.search">
							<span ng-bind-html="survey.libelle | highlight: $select.search"></span>
						</ui-select-choices>
					</ui-select>
				</div>
				<div class="col-md-5" style="text-align:right">
					<button type="button" class="btn btn-primary btn-flat" ng-click="createNewForm()"><i class="fa fa-pencil"></i> Créer</button>
					<button type="button" class="btn btn-success btn-flat" ng-click="saveForm()"><i class="fa fa-save"></i> Enregistrer</button>
					<button type="button" class="btn btn-danger btn-flat" ng-click="deleteForm()"><i class="fa fa-remove"></i> Supprimer</button>
				</div>
			</div>
		</div>
	</nav>

	<tabset justified="true" ng-show="survey.selected">
		<tab heading="Contexte Environnemental" active="tab.contexte_environnemental.active" ng-click="tabHeadingClick('contexte_environnemental')">
			<div ng-include="'views/merchandising/form-context-environnemental.html'"></div>
		</tab>
		<tab heading="Contexte Interne" active="tab.contexte_interne.active" ng-click="tabHeadingClick('contexte_interne')">
			contenu 2
		</tab>
		<tab heading="Profil Marketing" active="tab.profil_marketing.active" ng-click="tabHeadingClick('profil_marketing')">
			contenu 3
		</tab>
		<tab heading="Politique du Personnel" active="tab.politique_personnel.active" ng-click="tabHeadingClick('politique_personnel')">
			contenu 4
		</tab>
		<tab heading="Gestion des Stocks" active="tab.gestion_stocks.active" ng-click="tabHeadingClick('gestion_stocks')">
			contenu 5
		</tab>
		<tab heading="Divers" active="tab.divers.active" ng-click="tabHeadingClick('divers')">
			contenu 6
		</tab>
	</tabset>
</section>
