<section class="content-header">
	<h1>
		Merchandising
		<small>Formulaire</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
		<li><a href="#">Merchandising</a></li>
		<li><a href="#">{{$root.pharmacie.selected.denomination}}</a></li>
		<li class="active">Forms</li>
	</ol>
</section>

<section resize-form class="content">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="rows" style="margin-top:8px">
				<!-- <div class="col-md-2" style="margin-top:7px">Sélectionner un rapport à afficher:</div> -->
				<div class="col-md-4">
					<ui-select ng-model="survey.selected" required="true">
						<ui-select-match placeholder="Sélectionner un rapport...">{{$select.selected.libelle}}</ui-select-match>
						<ui-select-choices repeat="survey in survey.list | filter: $select.search">
							<span ng-bind-html="survey.libelle | highlight: $select.search"></span>
						</ui-select-choices>
					</ui-select>
				</div>
				<div class="col-md-2">
					<div class="input-group date">
						<div class="input-group-addon">
							<i class="fa fa-calendar"></i>
						</div>
						<input type="text" class="form-control pull-right" id="datepicker" ng-model="survey.selected.date_operation">
					</div>
				</div>
				<div class="col-md-2">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-user"></i></span>
						<input type="text" class="form-control" placeholder="Opérateur" ng-model="survey.selected.operator">
					</div>
				</div>
				<div class="col-md-4" style="text-align:right">
					<button type="button" class="btn btn-primary btn-flat" ng-click="createNewForm()"><i class="fa fa-pencil"></i> Créer</button>
					<button type="button" class="btn btn-success btn-flat" ng-click="saveForm()" ng-disabled="survey.selected.libelle==null || survey.selected.date_operation==null || survey.selected.operator==null"><i class="fa fa-save"></i> Enregistrer</button>
					<button type="button" class="btn btn-danger btn-flat" ng-click="deleteForm()"><i class="fa fa-remove"></i> Supprimer</button>
				</div>
			</div>
		</div>
	</nav>

	<tabset justified="true" class="custom-form-style" OLDng-show="survey.selected">
		<tab heading="Contexte Environnemental" active="tab.contexte_environnemental.active" ng-click="tabHeadingClick('contexte_environnemental')">
			<!-- <form-merchandising-context-environnemental></form-merchandising-context-environnemental> -->
			<div ng-include="templatesUrl.contexte_environnemental.current"></div>
		</tab>
		<tab heading="Contexte Interne" active="tab.contexte_interne.active" ng-click="tabHeadingClick('contexte_interne')">
			<!-- <form-merchandising-context-interne></form-merchandising-context-interne> -->
			<div ng-include="templatesUrl.contexte_interne.current"></div>
		</tab>
		<tab heading="Profil Marketing" active="tab.profil_marketing.active" ng-click="tabHeadingClick('profil_marketing')">
			<!-- <form-merchandising-profil-marketing></form-merchandising-profil-marketing> -->
			<div ng-include="templatesUrl.profil_marketing.current"></div>
		</tab>
		<tab heading="Politique du Personnel" active="tab.politique_personnel.active" ng-click="tabHeadingClick('politique_personnel')">
			<!-- <form-merchandising-politique-personnel></form-merchandising-politique-personnel> -->
			<div ng-include="templatesUrl.politique_personnel.current"></div>
		</tab>
		<tab heading="Gestion des Stocks" active="tab.gestion_stocks.active" ng-click="tabHeadingClick('gestion_stocks')">
			<!-- <form-merchandising-gestion-stock></form-merchandising-gestion-stock> -->
			<div ng-include="templatesUrl.gestion_stocks.current"></div>
		</tab>
		<tab heading="Divers" active="tab.divers.active" ng-click="tabHeadingClick('divers')">
			<!-- <form-merchandising-divers></form-merchandising-divers> -->
			<div ng-include="templatesUrl.divers.current"></div>
		</tab>
	</tabset>
</section>
