<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Macro Environnement</h3>
		<small>étude de marché : démographie, économie, infrastructures, projets</small>
		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		</div>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
	<form role="form">
		<div class="box-body">
		</div>
	</form>
</div>

<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Micro Environnement et Emplacement</h3>
		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		</div>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
	<form role="form">
		<div class="box-body">
			<div class="row">
				<div class="col-md-12 form-label">Implantation du point de vente</div>
			</div>
			<div class="row">
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteEnvironnemental.implantationVente" value="hyper-centre" data-labelauty="Hyper Centre" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteEnvironnemental.implantationVente" value="centre-ville" data-labelauty="Centre Ville" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteEnvironnemental.implantationVente" value="centre-commercial" data-labelauty="Centre Commercial" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteEnvironnemental.implantationVente" value="quartier" data-labelauty="Quartier" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteEnvironnemental.implantationVente" value="rurale" data-labelauty="Rurale" type="radio"/></div>
			</div>
		</div>
	</form>
</div>

<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Qualité de l'emplacement</h3>
		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		</div>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
	<form role="form">
		<div class="box-body">
			<div class="row">
				<div class="col-md-12 form-label">Visibilité du local</div>
			</div>
			<div class="row">
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteEnvironnemental.visibiliteLocal" value="5" data-labelauty="Excellente" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteEnvironnemental.visibiliteLocal" value="4" data-labelauty="Très bonne" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteEnvironnemental.visibiliteLocal" value="3" data-labelauty="Bonne" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteEnvironnemental.visibiliteLocal" value="2" data-labelauty="Moyenne" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteEnvironnemental.visibiliteLocal" value="1" data-labelauty="Défavoriable" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-12 form-label">Accessibilité</div>
			</div>
			<div class="row">
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteEnvironnemental.accessibilite" value="5" data-labelauty="Excellente" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteEnvironnemental.accessibilite" value="4" data-labelauty="Très bonne" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteEnvironnemental.accessibilite" value="3" data-labelauty="Bonne" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteEnvironnemental.accessibilite" value="2" data-labelauty="Moyenne" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteEnvironnemental.accessibilite" value="1" data-labelauty="Défavoriable" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-12 form-label">Commodité de Stationnement</div>
			</div>
			<div class="row">
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteEnvironnemental.commoditeStationnement" value="5" data-labelauty="Excellente" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteEnvironnemental.commoditeStationnement" value="4" data-labelauty="Très bonne" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteEnvironnemental.commoditeStationnement" value="3" data-labelauty="Bonne" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteEnvironnemental.commoditeStationnement" value="2" data-labelauty="Moyenne" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteEnvironnemental.commoditeStationnement" value="null" data-labelauty="Aucune" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-12 form-label">Environnement Commercial</div>
			</div>
			<div class="row">
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteEnvironnemental.environnementCommercial" value="5" data-labelauty="Excellent" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteEnvironnemental.environnementCommercial" value="4" data-labelauty="Très bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteEnvironnemental.environnementCommercial" value="3" data-labelauty="Bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteEnvironnemental.environnementCommercial" value="2" data-labelauty="Moyen" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteEnvironnemental.environnementCommercial" value="1" data-labelauty="Défavoriable" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-12 form-label">Flux Piétonnier</div>
			</div>
			<div class="row">
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteEnvironnemental.fluxPietonnier" value="5" data-labelauty="Excellent" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteEnvironnemental.fluxPietonnier" value="4" data-labelauty="Très bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteEnvironnemental.fluxPietonnier" value="3" data-labelauty="Bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteEnvironnemental.fluxPietonnier" value="2" data-labelauty="Moyen" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteEnvironnemental.fluxPietonnier" value="1" data-labelauty="Défavoriable" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-12 form-label">Flux Automobile</div>
			</div>
			<div class="row">
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteEnvironnemental.fluxAutomobile" value="5" data-labelauty="Excellent" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteEnvironnemental.fluxAutomobile" value="4" data-labelauty="Très bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteEnvironnemental.fluxAutomobile" value="3" data-labelauty="Bon" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteEnvironnemental.fluxAutomobile" value="2" data-labelauty="Moyen" type="radio"/></div>
				<div class="col-md-2"><input ng-model="survey.selected.forms.contexteEnvironnemental.fluxAutomobile" value="1" data-labelauty="Défavoriable" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-12 form-label">Longeur de la vitrine</div>
			</div>
			<div class="row">
				<div class="col-md-6"><input type="number" style="width:90px" ng-model="survey.selected.forms.contexteEnvironnemental.longeurVitrine" /> mètres</div>
			</div>
			<div class="row">
				<div class="col-md-12 form-label">Surface</div>
			</div>
			<div class="row">
				<div class="col-md-2">Totale</div>
				<div class="col-md-1"><input ng-model="survey.selected.forms.contexteEnvironnemental.surface.totale" type="text"style="width:100%" /></div>
				<div class="col-md-2">Clientèle</div>
				<div class="col-md-1"><input ng-model="survey.selected.forms.contexteEnvironnemental.surface.clientele" type="text"style="width:100%" /></div>
				<div class="col-md-2">Back-Office</div>
				<div class="col-md-1"><input ng-model="survey.selected.forms.contexteEnvironnemental.surface.bo" type="text" style="width:100%"/></div>
				<div class="col-md-2">Réserve</div>
				<div class="col-md-1"><input ng-model="survey.selected.forms.contexteEnvironnemental.surface.reserve" type="text" style="width:100%"/></div>
			</div>
		</div>
	</form>
</div>

<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Environnement médical</h3>
		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		</div>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
	<form role="form">
		<div class="box-body">
			<div class="row">
				<div class="col-md-12 form-label">Environnement médical généralistes</div>
			</div>
			<div class="row">
				<div class="col-md-4"><input ng-model="survey.selected.forms.contexteEnvironnemental.envMedicalGeneraliste" value="5" data-labelauty="Excellent" type="radio"/></div>
				<div class="col-md-4"><input ng-model="survey.selected.forms.contexteEnvironnemental.envMedicalGeneraliste" value="3" data-labelauty="Bon" type="radio"/></div>
				<div class="col-md-4"><input ng-model="survey.selected.forms.contexteEnvironnemental.envMedicalGeneraliste" value="1" data-labelauty="Moyen" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-12 form-label">Environnement médical spécialistes</div>
			</div>
			<div class="row">
				<div class="col-md-4"><input ng-model="survey.selected.forms.contexteEnvironnemental.envMedicalSpecialiste" value="5" data-labelauty="Excellent" type="radio"/></div>
				<div class="col-md-4"><input ng-model="survey.selected.forms.contexteEnvironnemental.envMedicalSpecialiste" value="3" data-labelauty="Bon" type="radio"/></div>
				<div class="col-md-4"><input ng-model="survey.selected.forms.contexteEnvironnemental.envMedicalSpecialiste" value="1" data-labelauty="Moyen" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-12 form-label">Environnement centres médicaux</div>
			</div>
			<div class="row">
				<div class="col-md-4"><input ng-model="survey.selected.forms.contexteEnvironnemental.envCentresMedicaux" value="5" data-labelauty="Excellent" type="radio"/></div>
				<div class="col-md-4"><input ng-model="survey.selected.forms.contexteEnvironnemental.envCentresMedicaux" value="3" data-labelauty="Bon" type="radio"/></div>
				<div class="col-md-4"><input ng-model="survey.selected.forms.contexteEnvironnemental.envCentresMedicaux" value="1" data-labelauty="Moyen" type="radio"/></div>
			</div>
			<div class="row">
				<div class="col-md-12 form-label">Environnement médical hospitalier</div>
			</div>
			<div class="row">
				<div class="col-md-4"><input ng-model="survey.selected.forms.contexteEnvironnemental.envMedicalHospitalier" value="5" data-labelauty="Excellent" type="radio"/></div>
				<div class="col-md-4"><input ng-model="survey.selected.forms.contexteEnvironnemental.envMedicalHospitalier" value="3" data-labelauty="Bon" type="radio"/></div>
				<div class="col-md-4"><input ng-model="survey.selected.forms.contexteEnvironnemental.envMedicalHospitalier" value="1" data-labelauty="Moyen" type="radio"/></div>
			</div>
		</div>
	</form>
</div>

<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Contexte Concurrentiel</h3>
		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		</div>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
	<form role="form">
		<div class="box-body">
			<div class="row">
				<div class="col-md-2">Concurrent</div>
				<div class="col-md-10"><textarea style="width:100%"></textarea></div>
			</div>
		</div>
	</form>
</div>