<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Informatique</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form">
        <div class="box-body">
            <div class="row">
                <div class="col-md-2 form-label">Logiciel de gestion</div>
                <div class="col-md-10">
                    <ui-select ng-model="survey.selected.forms.divers.informatique.logicielGestion" required="true">
                        <ui-select-match placeholder="Logiciels de Gestion">{{$select.selected.libelle}}</ui-select-match>
                        <ui-select-choices repeat="logicielGestion in logicielGestion.list | filter: $select.search">
                            <span ng-bind-html="logicielGestion.libelle | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-label">Nombre de postes</div>
            </div>
            <div class="row">
                <div class="col-md-2">Comptoirs</div>
                <div class="col-md-1"><input ng-model="survey.selected.forms.divers.informatique.nombrePostes.comptoirs" type="number" style="width:100%"/></div>
                <div class="col-md-2">Parapharmacie</div>
                <div class="col-md-1"><input ng-model="survey.selected.forms.divers.informatique.nombrePostes.para" type="number" style="width:100%"/></div>
                <div class="col-md-2">Back-Office</div>
                <div class="col-md-1"><input ng-model="survey.selected.forms.divers.informatique.nombrePostes.bo" type="number" style="width:100%"/></div>
                <div class="col-md-2">Réserve</div>
                <div class="col-md-1"><input ng-model="survey.selected.forms.divers.informatique.nombrePostes.reserve" type="number" style="width:100%"/></div>
                <div class="col-md-2">Aministratif</div>
                <div class="col-md-1"><input ng-model="survey.selected.forms.divers.informatique.nombrePostes.administratif" type="number" style="width:100%"/></div>
            </div>
            <div class="row">
                <div class="col-md-12 form-label">Connection internet</div>
            </div>
            <div class="row">
                <div class="col-md-2"><input ng-model="survey.selected.forms.divers.informatique.connectionInternet.comptoirs" type="checkbox" data-labelauty="Comptoirs"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.divers.informatique.connectionInternet.para" type="checkbox" data-labelauty="Para"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.divers.informatique.connectionInternet.bo" type="checkbox" data-labelauty="Back"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.divers.informatique.connectionInternet.reserve" type="checkbox" data-labelauty="Réserve"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.divers.informatique.connectionInternet.administratif" type="checkbox" data-labelauty="Administratif"/></div>
            </div>
            <div class="row">
                <div class="col-md-2 form-label">Offre logicielle</div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.divers.informatique.offreLogicielle.word" type="checkbox" data-labelauty="Microsoft Word"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.divers.informatique.offreLogicielle.excel" type="checkbox" data-labelauty="Microsoft Excel"/></div>
                <div class="col-md-2"><input ng-model="survey.selected.forms.divers.informatique.offreLogicielle.autres" type="text" placeholder="Autres"/></div>
            </div>
            <div class="row">
                <div class="col-md-2 form-label">Amplitude horaire</div>
                <div class="col-md-10"><input ng-model="survey.selected.forms.divers.informatique.amplitudeHoraires" type="text"/></div>
            </div>
        </div>
    </form>
</div>