<h2>Macro Environnement</h2>
<div class="row">
	<div class="col-md-12">
		étude de marché : démographie, économie, infrastructures, projets
	</div>
</div>
<h2>Micro Environnement et Emplacement</h2>
<div class="row">
	<div class="col-md-2">Implantation du point de vente</div>
	<div class="col-md-2"><input ng-model="form.contexteEnvironnemental.implantationVente" value="hyper-centre" data-labelauty="Hyper Centre" type="radio"/></div>
	<div class="col-md-2"><input ng-model="form.contexteEnvironnemental.implantationVente" value="centre-ville" data-labelauty="Centre Ville" type="radio"/></div>
	<div class="col-md-2"><input ng-model="form.contexteEnvironnemental.implantationVente" value="centre-commercial" data-labelauty="Centre Commercial" type="radio"/></div>
	<div class="col-md-2"><input ng-model="form.contexteEnvironnemental.implantationVente" value="quartier" data-labelauty="Quartier" type="radio"/></div>
	<div class="col-md-2"><input ng-model="form.contexteEnvironnemental.implantationVente" value="rurale" data-labelauty="Rurale" type="radio"/></div>
</div>
<h3>Qualité de l'emplacement</h3>
<div class="row">
	<div class="col-md-2">Visibilité du local</div>
	<div class="col-md-2"><input ng-model="form.contexteEnvironnemental.visibiliteLocal" value="5" data-labelauty="Excellente" type="radio"/></div>
	<div class="col-md-2"><input ng-model="form.contexteEnvironnemental.visibiliteLocal" value="4" data-labelauty="Très bonne" type="radio"/></div>
	<div class="col-md-2"><input ng-model="form.contexteEnvironnemental.visibiliteLocal" value="3" data-labelauty="Bonne" type="radio"/></div>
	<div class="col-md-2"><input ng-model="form.contexteEnvironnemental.visibiliteLocal" value="2" data-labelauty="Moyenne" type="radio"/></div>
	<div class="col-md-2"><input ng-model="form.contexteEnvironnemental.visibiliteLocal" value="1" data-labelauty="Défavoriable" type="radio"/></div>
</div>
<div class="row">
	<div class="col-md-2">Accessibilité</div>
	<div class="col-md-2"><input ng-model="form.contexteEnvironnemental.accessibilite" value="5" data-labelauty="Excellente" type="radio"/></div>
	<div class="col-md-2"><input ng-model="form.contexteEnvironnemental.accessibilite" value="4" data-labelauty="Très bonne" type="radio"/></div>
	<div class="col-md-2"><input ng-model="form.contexteEnvironnemental.accessibilite" value="3" data-labelauty="Bonne" type="radio"/></div>
	<div class="col-md-2"><input ng-model="form.contexteEnvironnemental.accessibilite" value="2" data-labelauty="Moyenne" type="radio"/></div>
	<div class="col-md-2"><input ng-model="form.contexteEnvironnemental.accessibilite" value="1" data-labelauty="Défavoriable" type="radio"/></div>
</div>
<div class="row">
	<div class="col-md-2">Commodité de Stationnement</div>
	<div class="col-md-2"><input ng-model="form.contexteEnvironnemental.commoditeStationnement" value="5" data-labelauty="Excellente" type="radio"/></div>
	<div class="col-md-2"><input ng-model="form.contexteEnvironnemental.commoditeStationnement" value="4" data-labelauty="Très bonne" type="radio"/></div>
	<div class="col-md-2"><input ng-model="form.contexteEnvironnemental.commoditeStationnement" value="3" data-labelauty="Bonne" type="radio"/></div>
	<div class="col-md-2"><input ng-model="form.contexteEnvironnemental.commoditeStationnement" value="2" data-labelauty="Moyenne" type="radio"/></div>
	<div class="col-md-2"><input ng-model="form.contexteEnvironnemental.commoditeStationnement" value="null" data-labelauty="Aucune" type="radio"/></div>
</div>
<div class="row">
	<div class="col-md-2">Environnement Commercial</div>
	<div class="col-md-2"><input ng-model="form.contexteEnvironnemental.environnementCommercial" value="5" data-labelauty="Excellent" type="radio"/></div>
	<div class="col-md-2"><input ng-model="form.contexteEnvironnemental.environnementCommercial" value="4" data-labelauty="Très bon" type="radio"/></div>
	<div class="col-md-2"><input ng-model="form.contexteEnvironnemental.environnementCommercial" value="3" data-labelauty="Bon" type="radio"/></div>
	<div class="col-md-2"><input ng-model="form.contexteEnvironnemental.environnementCommercial" value="2" data-labelauty="Moyen" type="radio"/></div>
	<div class="col-md-2"><input ng-model="form.contexteEnvironnemental.environnementCommercial" value="1" data-labelauty="Défavoriable" type="radio"/></div>
</div>
<div class="row">
	<div class="col-md-2">Flux Piétonnier</div>
	<div class="col-md-2"><input ng-model="form.contexteEnvironnemental.fluxPietonnier" value="5" data-labelauty="Excellent" type="radio"/></div>
	<div class="col-md-2"><input ng-model="form.contexteEnvironnemental.fluxPietonnier" value="4" data-labelauty="Très bon" type="radio"/></div>
	<div class="col-md-2"><input ng-model="form.contexteEnvironnemental.fluxPietonnier" value="3" data-labelauty="Bon" type="radio"/></div>
	<div class="col-md-2"><input ng-model="form.contexteEnvironnemental.fluxPietonnier" value="2" data-labelauty="Moyen" type="radio"/></div>
	<div class="col-md-2"><input ng-model="form.contexteEnvironnemental.fluxPietonnier" value="1" data-labelauty="Défavoriable" type="radio"/></div>
</div>
<div class="row">
	<div class="col-md-2">Flux Automobile</div>
	<div class="col-md-2"><input ng-model="form.contexteEnvironnemental.fluxAutomobile" value="5" data-labelauty="Excellent" type="radio"/></div>
	<div class="col-md-2"><input ng-model="form.contexteEnvironnemental.fluxAutomobile" value="4" data-labelauty="Très bon" type="radio"/></div>
	<div class="col-md-2"><input ng-model="form.contexteEnvironnemental.fluxAutomobile" value="3" data-labelauty="Bon" type="radio"/></div>
	<div class="col-md-2"><input ng-model="form.contexteEnvironnemental.fluxAutomobile" value="2" data-labelauty="Moyen" type="radio"/></div>
	<div class="col-md-2"><input ng-model="form.contexteEnvironnemental.fluxAutomobile" value="1" data-labelauty="Défavoriable" type="radio"/></div>
</div>
<div class="row">
	<div class="col-md-2">Longeur de la vitrine</div>
	<div class="col-md-10"><input type="text" ng-model="form.contexteEnvironnemental.longeurVitrine" /></div>
</div>
<div class="row">
	<div class="col-md-2">Surface</div>
	<div class="col-md-2"><input ng-model="form.contexteEnvironnemental.surface" value="totale" data-labelauty="Totale" type="radio"/></div>
	<div class="col-md-2"><input ng-model="form.contexteEnvironnemental.surface" value="clientele" data-labelauty="Clientèle" type="radio"/></div>
	<div class="col-md-2"><input ng-model="form.contexteEnvironnemental.surface" value="back-office" data-labelauty="Back Office" type="radio"/></div>
	<div class="col-md-4"><input ng-model="form.contexteEnvironnemental.surface" value="reserve" data-labelauty="Résèrve" type="radio"/></div>
</div>
<h3>Environnement médical</h3>
<div class="row">
	<div class="col-md-3">Environnement médical généralistes</div>
	<div class="col-md-3"><input ng-model="form.contexteEnvironnemental.envMedicalGeneraliste" value="5" data-labelauty="Excellent" type="radio"/></div>
	<div class="col-md-3"><input ng-model="form.contexteEnvironnemental.envMedicalGeneraliste" value="3" data-labelauty="Bon" type="radio"/></div>
	<div class="col-md-3"><input ng-model="form.contexteEnvironnemental.envMedicalGeneraliste" value="1" data-labelauty="Moyen" type="radio"/></div>
</div>
<div class="row">
	<div class="col-md-3">Environnement médical spécialistes</div>
	<div class="col-md-3"><input ng-model="form.contexteEnvironnemental.envMedicalSpecialiste" value="5" data-labelauty="Excellent" type="radio"/></div>
	<div class="col-md-3"><input ng-model="form.contexteEnvironnemental.envMedicalSpecialiste" value="3" data-labelauty="Bon" type="radio"/></div>
	<div class="col-md-3"><input ng-model="form.contexteEnvironnemental.envMedicalSpecialiste" value="1" data-labelauty="Moyen" type="radio"/></div>
</div>
<div class="row">
	<div class="col-md-3">Environnement centres médicaux</div>
	<div class="col-md-3"><input ng-model="form.contexteEnvironnemental.envCentresMedicaux" value="5" data-labelauty="Excellent" type="radio"/></div>
	<div class="col-md-3"><input ng-model="form.contexteEnvironnemental.envCentresMedicaux" value="3" data-labelauty="Bon" type="radio"/></div>
	<div class="col-md-3"><input ng-model="form.contexteEnvironnemental.envCentresMedicaux" value="1" data-labelauty="Moyen" type="radio"/></div>
</div>
<div class="row">
	<div class="col-md-3">Environnement médical hospitalier</div>
	<div class="col-md-3"><input ng-model="form.contexteEnvironnemental.envMedicalHospitalier" value="5" data-labelauty="Excellent" type="radio"/></div>
	<div class="col-md-3"><input ng-model="form.contexteEnvironnemental.envMedicalHospitalier" value="3" data-labelauty="Bon" type="radio"/></div>
	<div class="col-md-3"><input ng-model="form.contexteEnvironnemental.envMedicalHospitalier" value="1" data-labelauty="Moyen" type="radio"/></div>
</div>
<h3>Contexte Concurrentiel</h3>
<div class="row">
	<div class="col-md-2">Concurrent</div>
	<div class="col-md-10"><textarea></textarea></div>
</div>