<!-- Logo -->
<a href ui-sref="app" ui-sref-opts="{reload: 'app'}" class="logo">Tabord <span class="color-red">NG</span></a>

<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top skin-blue" role="navigation">
	<!-- Sidebar toggle button-->
	<a href="" ng-click="toggleLeftSidebar()" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <span class="sr-only">Toggle navigation</span></a>
	<div class="navbar-custom-menu">
		<ul class="nav navbar-nav">

			<li style="margin-left:5px;margin-top:15px;color:#FFF;" ng-show="loading_freeze_mod.active">
				<!-- <span>chargement...</span> -->
				<i class="glyphicon glyphicon-repeat icon-refresh-animate"></i>
			</li>

			<!-- User Account: style can be found in dropdown.less -->
			<li class="dropdown user user-menu mega-dropdown">
				
				<a href class="dropdown-toggle" data-toggle="dropdown">
					<span class="hidden-xs">{{$root.user.username}}</span> - Options<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<!-- <li>
						<a href="" ng-click="changeBo()"><span class="glyphicon glyphicon-filter"></span> Edition des Filtres</a>
					</li> -->
					<li>
						<ui-select  ng-model="$root.pharmacie.selected"
									ng-change="changeSelectedPharmacie()"
									theme="select2" 
									class="ui-select-pharmacie"
									search-enabled="false"
									title="Sélectionner une pharmacie">
							<ui-select-match placeholder="Sélectionner une pharmacie">{{$select.selected.denomination}}</ui-select-match>
							<ui-select-choices 
									repeat="pharmacie in pharmacies.list | filter: {denomination: $select.search}">
								<div ng-bind-html="pharmacie.denomination | highlight: $select.search"></div>
								<small>
									code: <span ng-bind-html="''+pharmacie.id | highlight: $select.search"></span>
								</small>
							</ui-select-choices>
						</ui-select>
					</li>

					<li>
						<ui-select  ng-model="current_pharmacie.periode.selected" 
									theme="select2" 
									class="ui-select-period"
									search-enabled="false"
									title="Sélectionner une période">
							<ui-select-match placeholder="Sélectionner une période">Période : {{$select.selected.libelle}}</ui-select-match>
							<ui-select-choices 
									repeat="periode in current_pharmacie.periode.available_periods | filter: {libelle: $select.search, num: $select.search}">
								<div ng-bind-html="periode.libelle | highlight: $select.search"></div>
								<small>
									n° période: <span ng-bind-html="''+periode.num | highlight: $select.search"></span>
								</small>
							</ui-select-choices>
						</ui-select>
					</li>
					
					<li>
						<a href="" ng-click="logout()"><span class="glyphicon glyphicon-off"></span> Logout</a>
					</li>
				</ul>
			</li>
			
		</ul>
	</div>
</nav>