<section class="sidebar" resize>
	<!-- Sidebar user panel -->
	<!-- <div class="user-panel">
		<div class="pull-left info">
			<p>{{user.username}}</p>
			<a href><i class="fa fa-circle text-success"></i> Online</a>
		</div>
	</div> -->

	<!-- search form -->
	<!--<form action="#" method="get" class="sidebar-form">
		<div class="input-group">
			<input type="text" name="q" class="form-control" placeholder="Search..." />
			<span class="input-group-btn">
				<button type='submit' name='search' id='search-btn' class="btn btn-flat">
					<i class="fa fa-search"></i>
				</button>
			</span>
		</div>
	</form>-->

	<!-- /.search form -->
	<!-- sidebar menu: : style can be found in sidebar.less -->
	<ul class="sidebar-menu">
		<!-- <li class="header">TABLEAU DE BORD</li> -->
		<li ui-sref-active="activated"><a href ui-sref="dashboard" ui-sref-opts="{reload: 'dashboard'}"><i class="fa fa-dashboard"></i> Tableau de bord</a></li>
		
		<li class="header">LES CHIFFRES</li>
		<!-- <li class="treeview">
			<a href>
				<i class="fa fa-hospital-o"></i> <span>Chiffres Pharmacie</span>
				<i class="fa fa-angle-left pull-right"></i>
			</a>
			<ul class="treeview-menu">
				<li>
					<a href><i class="fa fa-circle-o"></i> Résultats Exercice <i class="fa fa-angle-left pull-right"></i></a>
					<ul class="treeview-menu">
						<li><a href><i class="fa fa-circle-o"></i> Chiffre d'affaire</a></li>
						<li><a href><i class="fa fa-circle-o"></i> Marge</a></li>
						<li><a href><i class="fa fa-circle-o"></i> Stock</a></li>
					</ul>
				</li>
				<li>
					<a href><i class="fa fa-circle-o"></i> Frais Exercice <i class="fa fa-angle-left pull-right"></i></a>
					<ul class="treeview-menu">
						<li><a href><i class="fa fa-circle-o"></i> Frais Généraux</a></li>
						<li><a href><i class="fa fa-circle-o"></i> Frais Financiers</a></li>
						<li><a href><i class="fa fa-circle-o"></i> Impôts &amp; Taxes</a></li>
						<li><a href><i class="fa fa-circle-o"></i> Cessions Immos</a></li>
					</ul>
				</li>
				<li>
					<a href><i class="fa fa-circle-o"></i> Frais Courants <i class="fa fa-angle-left pull-right"></i></a>
					<ul class="treeview-menu">
						<li><a href><i class="fa fa-circle-o"></i> Emprunts</a></li>
						<li><a href><i class="fa fa-circle-o"></i> Investissements</a></li>
						<li><a href><i class="fa fa-circle-o"></i> Amortissement</a></li>
					</ul>
				</li>
				<li>
					<a href><i class="fa fa-circle-o"></i> Consultations <i class="fa fa-angle-left pull-right"></i></a>
					<ul class="treeview-menu">
						<li><a href><i class="fa fa-circle-o"></i> Achats</a></li>
						<li><a href><i class="fa fa-circle-o"></i> Panier Moyen</a></li>
					</ul>
				</li>
				<li><a href><i class="fa fa-circle-o"></i> Divers</a></li>
			</ul>
		</li> -->

		<li ui-sref-active="activated">
			<a href ui-sref="pharmacie_chiffres" ui-sref-opts="{reload: 'pharmacie_chiffres'}"><i class="fa fa-dollar"></i> Chiffres Pharmacie</a>
		</li>

		<li class="treeview">
			<a href>
				<i class="fa fa-user"></i> <span>Chiffres Personnel</span>
				<i class="fa fa-angle-left pull-right"></i>
			</a>
			<ul class="treeview-menu">
				<li ui-sref-active="activated"><a href ui-sref="personnel_salaires" ui-sref-opts="{reload: 'personnel_salaires'}"><i class="fa fa-circle-o"></i> Salaires</a></li>
				<!-- <li><a href><i class="fa fa-circle-o"></i> Charges Sociales</a></li> -->
			</ul>
		</li>

		<li class="treeview">
			<a href>
				<i class="fa fa-industry"></i> <span>Chiffres Laboratoires</span>
				<i class="fa fa-angle-left pull-right"></i>
			</a>
			<ul class="treeview-menu">
				<li ui-sref-active="activated"><a href ui-sref="laboratoires_ventes" ui-sref-opts="{reload: 'laboratoires_ventes'}"><i class="fa fa-circle-o"></i> Ventes</a></li>
				<li ui-sref-active="activated"><a href ui-sref="laboratoires_ventes_detail" ui-sref-opts="{reload: 'laboratoires_ventes_detail'}"><i class="fa fa-circle-o"></i> Détail des ventes</a></li>
			</ul>
		</li>

		<!-- <li ui-sref-active="activated"><a href ui-sref="pharmacie_chiffres" ui-sref-opts="{reload: 'pharmacie_chiffres'}"><i class="fa fa-money"></i> Chiffres Pharmacie</a></li> -->
		<!-- <li ui-sref-active="activated"><a href ui-sref="pharmacie_personnel" ui-sref-opts="{reload: 'pharmacie_personnel'}"><i class="fa fa-money"></i> Chiffres Personnel</a></li> -->

		<li class="header">ENTREPRISE</li>
		<li class="treeview">
			<a href>
				<i class="fa fa-user"></i> <span> Gestion Associé</span>
				<i class="fa fa-angle-left pull-right"></i>
			</a>
			<ul class="treeview-menu">
				<li><a href><i class="fa fa-circle-o"></i> Charges Sociales &amp; CSG</a></li>
				<li><a href><i class="fa fa-circle-o"></i> Prélèvements &amp; Apports</a></li>
				<li><a href><i class="fa fa-circle-o"></i> Remboursements</a></li>
				<li><a href><i class="fa fa-circle-o"></i> Frais Divers</a></li>
				<li><a href><i class="fa fa-circle-o"></i> Répartition</a></li>
			</ul>
		</li>

		<li class="treeview">
			<a href><i class="fa fa-table"></i>Administration <i class="fa fa-angle-left pull-right"></i></a>
			<ul class="treeview-menu">
			<!-- 
			<a href><i class="fa fa-table"></i> Thématiques <i class="fa fa-angle-left pull-right"></i></a>
			<ul class="treeview-menu"> 
			-->
				<li ui-sref-active="activated"><a href ui-sref="pharmacie" ui-sref-opts="{reload: 'pharmacie'}"><i class="fa fa-circle-o"></i> Gérer pharmacie</a></li>
				<li ui-sref-active="activated"><a href ui-sref="personnel_dashboard" ui-sref-opts="{reload: 'personnel_dashboard'}"><i class="fa fa-circle-o"></i> Gérer personnel</a></li>
			</ul>
		</li>

		<li class="header">MERCHANDISING</li>
		<li ui-sref-active="activated"><a href ui-sref="merchandising_dashboard" ui-sref-opts="{reload: 'merchandising_dashboard'}"><i class="fa fa-pie-chart"></i> Indicateurs</a></li>
		<li ui-sref-active="activated"><a href ui-sref="merchandising_forms" ui-sref-opts="{reload: 'merchandising_forms'}"><i class="fa fa-edit"></i> Formulaires</a></li>
	</ul>

	
</section>