<div class="login-box">
	<div class="login-logo">
		<a href>Tabord <span class="color-red">NG</span></a>
	</div>
	<div class="login-box-body">
		<p class="login-box-msg">Veuillez vous authentifier</p>
		<form class="form-horizontal" ng-submit="login()" form-autofill-fix>
			<div class="form-group has-feedback">
				<input type="text" ng-model="username" class="form-control" placeholder="Login utilisateur" ng-required ng-change="authentication.status=''"/> 
				<span class="glyphicon glyphicon-user form-control-feedback"></span>
			</div>
			<div class="form-group has-feedback">
				<input type="password" ng-model="password" class="form-control" placeholder="Mot de passe" ng-required/>
				<span class="glyphicon glyphicon-lock form-control-feedback"></span>
			</div>
			<div class="form-group has-feedback">
					<select ng-model="$root.pharmacie.selected" class="form-control" ng-options="pharmacie.denomination for pharmacie in pharmacies.list track by pharmacie.id"></select>
					<span class="glyphicon glyphicon-chevron-down form-control-feedback"></span>
				</div>
			<div class="row">
				<div class="col-xs-8">
					<div class="checkbox icheck">
						<label> <input ng-disabled="username.length == 0 || password.length == 0" type="checkbox" ng-model="rememberMe"> Se souvenir de moi</label>
					</div>
				</div>
				<div class="col-xs-4">
					<button type="submit" ng-disabled="username.length == 0 || password.length == 0" class="btn btn-primary btn-block btn-flat">Valider</button>
				</div>
			</div>

			<div ng-show="authentication.status=='failed'" class="alert alert-danger login-failed" role="alert"><strong>{{authentication.message}}</strong></div>

			<!-- <div class="bloc-read-only">
				<p class="login-box-msg">Ou</p>
				<div class="row">
					<button type="button" ng-click="authenticate_anonymous()" class="btn btn-primary btn-block btn-flat"><span class="glyphicon glyphicon-blackboard"></span> Mode Lecture Seule</button>
				</div>
			</div> -->
		</form>
	</div>
</div>