/*
 *	Login Page
 */

.link-read-only {
	width: 100%;
	margin-top: 20px;
}
.bloc-read-only {
	border-top: solid 1px #EEE;
	margin-top: 30px;
	padding-top: 30px;
}

/*
 *	Common elements
 */

.alert-box {
	position: absolute;
	top: 60px;
	right: 5px;
	width: 300px;
	z-index: 1000;
}
.alert-box-header {}
.alert-box-header .alert {
	margin-bottom: 0 !important;
	padding: 14px;
	font-weight: bold;
}
.multi-select-custom-style {
	width: 100%;
	max-height: 83px;
	border: none !important;
	background: transparent !important;
	/*overflow-y: auto;
	overflow-x: hidden;*/
}
.multi-select-custom-style .add-element{
	height:12px;
	width:12px;
	float:right;
}
.logo {
	text-shadow: #222 2px 2px;
	color: #EEE !important;
	font-weight: bold !important;
	font-size: 2.2em !important;
	text-align: right !important;
	padding-top: 15px !important;
}
ul.sidebar-menu li.activated a{
	font-weight: bold;
	color: #fff;
	border-left-color: #00a65a;
}

/*
 *	Tool classes
 */
.color-red {
	color: #dd4b39;
}