<section class="content-header">
	<h1>
		Laboratoires
		<small>Détail des Ventes</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
		<li><a href="#">Forms</a></li>
		<li class="active">General Elements</li>
	</ol>
</section>

<section resize-form class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Ventes pour la période {{periode}}</h3>
					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div
						ui-grid="grid.detailVentePeriode" 
						class="" 
						ui-grid-edit 
						ui-grid-row-edit 
						ui-grid-exporter 
						ui-grid-auto-resize 
						ui-grid-pagination
						ui-grid-resize-columns 
						ui-grid-selection>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>