<section class="content-header">
	<h1>
		Gestion du personnel
		<small>Détail du salarié</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
		<li><a href="#">Forms</a></li>
		<li class="active">General Elements</li>
	</ol>
</section>

<section resize-form class="content">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="rows" style="margin-top:8px">
				<div class="col-md-2">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-user"></i></span>
						<input type="text" class="form-control" readonly placeholder="ID Salarié" ng-model="personnel.selected.id">
					</div>
				</div>
				<div class="col-md-6">
					<ui-select style="width:100%" ng-model="personnel.selected" required="true" reset-search-input="false">
						<ui-select-match placeholder="Créer ou sélectionner un salarié...">
							<span>{{$select.selected.nom || $select.search}}</span>
            				<!-- <a class="btn btn-xs btn-link pull-right" ng-click="clear($event, $select)"><i class="glyphicon glyphicon-remove"></i></a> -->
            			</ui-select-match>
						<ui-select-choices refresh="refreshResults($select)" refresh-delay="0" repeat="personnel in personnel.list | filter: $select.search">
							<span ng-bind-html="personnel.nom | highlight: $select.search"></span>
							<span ng-bind-html="personnel.prenom | highlight: $select.search"></span>
						</ui-select-choices>
					</ui-select>
				</div>
				<div class="col-md-4" style="text-align:right">
					<button type="button" class="btn btn-primary btn-flat" ng-click="createNewPersonnel()"><i class="fa fa-pencil"></i> Créer</button>
					<button type="button" class="btn btn-success btn-flat" ng-click="saveEditPersonnel()" ng-disabled="true"><i class="fa fa-save"></i> Enregistrer</button>
					<button type="button" class="btn btn-danger btn-flat" ng-click="deletePersonnel()"><i class="fa fa-remove"></i> Supprimer</button>
				</div>
			</div>
		</div>
	</nav>



	<div class="row">
		<div class="col-md-3">
			<!-- Profile Image -->
			<div class="box box-primary">
				<div class="box-body box-profile">
					<img class="profile-user-img img-responsive img-circle" src="http://vignette4.wikia.nocookie.net/captaintsubasa/images/1/11/Roberto.jpg/revision/latest?cb=20120105162427" alt="User profile picture">
					<h3 class="profile-username text-center">{{ selectedUser.nom + ' ' + selectedUser.prenom || 'non défini' }}</h3>
					<p class="text-muted text-center">{{ selectedUser.qualification || 'non défini' }}</p>

					<ul class="list-group list-group-unbordered">
						<li class="list-group-item">
							<b>Code opérateur</b> <a class="pull-right">{{user.codeOperateur}}</a>
						</li>
						<li class="list-group-item">
							<b>Date entrée</b> <a class="pull-right">{{selectedUser.contrat.dates.entree}}</a>
						</li>
						<li class="list-group-item">
							<b>Date sortie</b> <a class="pull-right">{{selectedUser.contrat.dates.sortie}}</a>
						</li>
						<li class="list-group-item">
							<b>Coefficient</b> <a class="pull-right">{{selectedUser.contrat.coefficient}}</a>
						</li>
						<li class="list-group-item">
							<b>Capital détenu</b> <a class="pull-right">{{selectedUser.contrat.prc_capital}} %</a>
						</li>
						<li class="list-group-item">
							<b>Statut cadre</b> <a class="pull-right">{{selectedUser.contrat.cadre}}</a>
						</li>
					</ul>
					<!--<a href="#" class="btn btn-primary btn-block"><b>Validay !</b></a>-->
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>

		<div class="col-md-9">
			<div class="nav-tabs-custom">
				<ul class="nav nav-tabs">
					<li class="active"><a href="" data-toggle="tab" ng-click="tabHeadingClick('identite')" aria-expanded="true">Identitié</a></li>
					<li class=""><a href="" data-toggle="tab" ng-click="tabHeadingClick('experience')" aria-expanded="true">Expérience</a></li>
					<li class=""><a href="" data-toggle="tab" ng-click="tabHeadingClick('salaires')" aria-expanded="true">Salaires</a></li>
					<li class=""><a href="" data-toggle="tab" ng-click="tabHeadingClick('analyse')" aria-expanded="true">Analyse</a></li>
					<li class=""><a href="" data-toggle="tab" ng-click="tabHeadingClick('synthese')" aria-expanded="true">Synthese</a></li>
				</ul>
				<div class="tab-content">
					<!-- <div class="tab-pane" id="identite" ng-include="views/personnel/form-identite-v2.html" style="padding-top:10px">TOTO</div>
					<div class="tab-pane" id="experience" ng-include="views/personnel/form-experience-v2.html" style="padding-top:10px">TATA</div>
					<div class="tab-pane" id="salaires" ng-include="views/personnel/form-salaires-v2.html" style="padding-top:10px"></div>
					<div class="tab-pane" id="analyse" ng-include="views/personnel/form-analyse-v2.html" style="padding-top:10px"></div>
					<div class="tab-pane" id="synthese" ng-include="views/personnel/form-synthese-v2.html" style="padding-top:10px"></div> -->
					<div class="" ng-include="selectedPage" style="padding-top:10px">TOTO</div>
				</div>
			</div>
		</div>
	</div>



	<!-- <tabset justified="true" class="custom-form-style">
		<tab heading="Identité" active="tab.identite.active" ng-click="tabHeadingClick('identite')">
			<div ng-include="templatesUrl.identite.current" style="padding-top:10px"></div>
		</tab>
		<tab heading="Expérience" active="tab.experience.active" ng-click="tabHeadingClick('experience')">
			<div ng-include="templatesUrl.experience.current"></div>
		</tab>
		<tab heading="Salaires" active="tab.salaires.active" ng-click="tabHeadingClick('salaires')">
			<div ng-include="templatesUrl.salaires.current"></div>
		</tab>
		<tab heading="Analyse" active="tab.analyse.active" ng-click="tabHeadingClick('analyse')">
			<div ng-include="templatesUrl.analyse.current"></div>
		</tab>
		<tab heading="Synthèse" active="tab.synthese.active" ng-click="tabHeadingClick('synthese')">
			<div ng-include="templatesUrl.synthese.current"></div>
		</tab>
	</tabset> -->
</section>
