<div class="row">
	<div class="col-sm-12">
		<div class="btn-edit-grid-formation">
			<!-- <button type="button" class="btn btn-primary btn-xs">Ajouter</button>
			<button type="button" class="btn btn-danger btn-xs">Supprimer</button> -->
			<ui-select  ng-model="anneesSalaire.selected"
						ng-change="updateSalairesData()"
						theme="select2" 
						class="ui-select-salaires"
						search-enabled="false"
						title="Année">
				<ui-select-match placeholder="Année">{{$select.selected}}</ui-select-match>
				<ui-select-choices repeat="annee in anneesSalaire.list">
					<div ng-bind-html="annee | highlight: $select.search"></div>
				</ui-select-choices>
			</ui-select>
		</div>
		<h4>Rémunération</h4>
		<div
			ui-grid="grid.salaireRemuneration" 
			class="" 
			style="margin-bottom: 15px"
			ui-grid-edit 
			ui-grid-row-edit 
			ui-grid-exporter 
			ui-grid-auto-resize 
			ui-grid-resize-columns 
			ui-grid-selection></div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="btn-edit-grid-formation">
			<button type="button" class="btn btn-primary btn-xs">Ajouter</button>
			<button type="button" class="btn btn-danger btn-xs">Supprimer</button>
		</div>
		<h4>Répartition</h4>
		<div
			ui-grid="grid.salaireRepartition" 
			class="" 
			style="margin-bottom: 15px"
			ui-grid-edit 
			ui-grid-row-edit 
			ui-grid-exporter 
			ui-grid-auto-resize 
			ui-grid-resize-columns 
			ui-grid-selection></div>
	</div>
</div>