<div class="row form-group">
	<div class="col-sm-12">
		<h4>Précédente rémunération</h4>
	</div>
	<form class="form-horizontal">
		<label for="inputCoefficient" class="col-sm-2 control-label">Coefficient</label>
		<div class="col-sm-2">
			<input type="text" class="form-control" id="inputCoefficient" placeholder="Coefficient" ng-model="selectedUser.data_personnel.contrat.coefficient" />
		</div>
		<label for="inputMontantSalaireBrut" class="col-sm-2 control-label">Salaire Brut</label>
		<div class="col-sm-2">
			<input type="text" class="form-control" id="inputMontantSalaireBrut" placeholder="Montant" ng-model="selectedUser.data_personnel.contrat.remuneration.montant_brut" />
		</div>
		<label for="inputMontantSalaireNet" class="col-sm-2 control-label">Salaire Net</label>
		<div class="col-sm-2">
			<input type="text" class="form-control" id="inputMontantSalaireNet" placeholder="Montant" ng-model="selectedUser.data_personnel.contrat.remuneration.montant_net" />
		</div>
	</form>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="btn-edit-grid-formation">
			<!-- <button type="button" class="btn btn-primary btn-xs">Ajouter</button>
			<button type="button" class="btn btn-danger btn-xs">Supprimer</button> -->
			<ui-select  ng-model="anneesSalaire.selected"
						ng-change="getSalaireData(anneesSalaire.selected, '{{anneesSalaire.selected}}')"
						theme="select2" 
						class="ui-select-salaires"
						search-enabled="false"
						title="Année">
				<ui-select-match placeholder="Année">{{$select.selected}}</ui-select-match>
				<ui-select-choices repeat="annee in anneesSalaire.list">
					<div ng-bind-html="annee | highlight: $select.search"></div>
				</ui-select-choices>
			</ui-select>
		</div>
		<h4>Rémunération</h4>
		<div
			ui-grid="grid.salaireRemuneration" 
			class="ui-grid-salaires" 
			style="margin-bottom: 15px"
			ui-grid-edit 
			ui-grid-row-edit 
			ui-grid-exporter 
			ui-grid-auto-resize 
			ui-grid-resize-columns 
			ui-grid-selection></div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="btn-edit-grid-formation">
			<button type="button" class="btn btn-primary btn-xs">Ajouter</button>
			<button type="button" class="btn btn-danger btn-xs">Supprimer</button>
		</div>
		<h4>Répartition</h4>
		<div
			ui-grid="grid.salaireRepartition" 
			class="ui-grid-repartition" 
			style="margin-bottom: 15px"
			ui-grid-edit 
			ui-grid-row-edit 
			ui-grid-exporter 
			ui-grid-auto-resize 
			ui-grid-resize-columns 
			ui-grid-selection></div>
	</div>
</div>