<div class="row">
	<div class="col-sm-12">
		<div class="btn-edit-grid-formation">
			<button type="button" class="btn btn-primary btn-xs">Ajouter</button>
			<button type="button" class="btn btn-danger btn-xs">Supprimer</button>
		</div>
		<h4>Rémunération</h4>
		<div
			ui-grid="grid.salaireRemuneration" 
			class="" 
			style="margin-bottom: 15px"
			ui-grid-edit 
			ui-grid-row-edit 
			ui-grid-exporter 
			ui-grid-auto-resize 
			ui-grid-resize-columns 
			ui-grid-selection></div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="btn-edit-grid-formation">
			<button type="button" class="btn btn-primary btn-xs">Ajouter</button>
			<button type="button" class="btn btn-danger btn-xs">Supprimer</button>
		</div>
		<h4>Répartition</h4>
		<div
			ui-grid="grid.salaireRepartition" 
			class="" 
			style="margin-bottom: 15px"
			ui-grid-edit 
			ui-grid-row-edit 
			ui-grid-exporter 
			ui-grid-auto-resize 
			ui-grid-resize-columns 
			ui-grid-selection></div>
	</div>
</div>