<section class="content-header">
	<h1>
		Gestion de la pharmacie
		<small>Création</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
		<li><a href="#">Forms</a></li>
		<li class="active">General Elements</li>
	</ol>
</section>

<section class="content">
	<div class="nav-tabs-custom">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">CA</a></li>
			<li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Marge</a></li>
			<li class=""><a href="#tab_3" data-toggle="tab" aria-expanded="false">Stock</a></li>
			<!-- <li class=""><a href="#tab_4" data-toggle="tab" aria-expanded="false">Frais généraux</a></li> -->
			<!-- <li class=""><a href="#tab_5" data-toggle="tab" aria-expanded="false">Frais financiers</a></li> -->
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
					Frais <span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Frais Généraux</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Frais Financiers</a></li>
					<li role="presentation" class="divider"></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Divers</a></li>
				</ul>
			</li>
			<li class=""><a href="#tab_6" data-toggle="tab" aria-expanded="false">Impôts &amp; Taxes</a></li>
			<li class=""><a href="#tab_7" data-toggle="tab" aria-expanded="false">Emprunts</a></li>
			<li class=""><a href="#tab_8" data-toggle="tab" aria-expanded="false">Investissements</a></li>
			<li class=""><a href="#tab_9" data-toggle="tab" aria-expanded="false">Cessions Immos</a></li>
			<li class=""><a href="#tab_10" data-toggle="tab" aria-expanded="false">Amortissements</a></li>
			<!-- <li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
					Dropdown <span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
					<li role="presentation" class="divider"></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
				</ul>
			</li> -->
			<!-- <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li> -->
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="tab_1">
				CA
			</div>
			<!-- /.tab-pane -->
			<div class="tab-pane" id="tab_2">
				Marge
			</div>
			<!-- /.tab-pane -->
			<div class="tab-pane" id="tab_3">
				Stock
			</div>
			<!-- /.tab-pane -->
		</div>
		<!-- /.tab-content -->
	</div>
</section>