<div class="wrapper skin-green fixed">
	<!-- header logo: style can be found in header.less -->
	<header class="main-header" ng-include="'views/common/header.html'" ng-controller="HeaderController"></header>
	
	<!-- Left side column. contains the logo and sidebar -->
	<aside class="main-sidebar" ng-include="'views/common/left_side_bar.html'"></aside>

	<!-- Right side column. Contains the navbar and content of the page. This is dynamically loaded by Angular MVC -->
	<div class="content-wrapper" ui-view="content" ui-i18n="{{$root.lang}}"></div>

	<footer class="main-footer" ng-include="'views/common/footer.html'" ng-controller="FooterController"></footer>
</div>
<!-- ./wrapper -->